<div *ngIf="!mostrarFormulario" class="p-mb-3">
  <button pButton type="button" icon="pi pi-plus" label="Nueva Cotización" class="p-button-success"
    (click)="abrirNuevaCotizacion()"></button>
</div>
<div *ngIf="mostrarFormulario" class="p-mb-3">
  <button pButton type="button" icon="pi pi-plus" label="Cerrar" class="p-button-success"
    (click)="cerrarCotizacion()"></button>
</div>

<div *ngIf="!mostrarFormulario">
  <p-table [value]="cotizaciones" [tableStyle]="{ 'min-width': '80rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre Empresa</th>
        <th>Nombre Cliente</th>
        <th>Celular</th>
        <th>Tipo Documento</th>
        <th>Tipo Carga</th>
        <th>Fecha Llegada</th>
        <th>Flete</th>
        <th>Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-cotizacion>
      <tr>
        <td>{{ cotizacion.razon_social }}</td>
        <td>{{ cotizacion.nombre_comercial }}</td>
        <td>{{ cotizacion.telefono }}</td>
        <td>{{ cotizacion.tipo_documento }}</td>
        <td>{{ cotizacion.id_tipo_carga }}</td>
        <td>{{ cotizacion.fecha_llegada | date:'dd/MM/yyyy' }}</td>
        <td>{{ cotizacion.flete }}</td>
        <td>
          <button type="button" class="btn-outline-danger rounded-pill btn btn-icon btn-sm"
            (click)="eliminarCotizacion(cotizacion)"><i class="ri-delete-bin-6-line fs-22"
              aria-hidden="true"></i></button>
          <button type="button" class="btn-outline-info rounded-pill btn btn-icon btn-sm"
            (click)="editarCotizacion(cotizacion)"><i class="ri-ball-pen-line fs-22" aria-hidden="true"></i></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div *ngIf="mostrarFormulario">
  <p-steps [model]="steps" [activeIndex]="activeIndex"></p-steps>

  <div class="p-3">
    <ng-container [ngSwitch]="activeIndex">

      <!-- Paso 1 -->
      <div *ngSwitchCase="0" class="p-fluid">
        <div class="mx-lg-4">
          <h3 class="mb-4">Paso 1: Datos del Cliente</h3>

          <div class="grid">
            <!-- Modo Cliente -->
            <div class="col-12 md:col-6">
              <label for="modo_cliente">Modo Cliente</label>
              <p-selectButton [options]="modo_cliente" [(ngModel)]="cotizacionSeleccionada.modo_cliente"
                optionLabel="label" optionValue="value" (ngModelChange)="actualizarTipoCliente($event)"
                [ngModelOptions]="{ standalone: true }" name="modo_cliente" />
            </div>

            <!-- Tipo Cliente -->
            <div *ngIf="!bloquearTipoCliente" class="col-12 md:col-6">
              <label for="tipo_cliente">Tipo Cliente</label>
              <p-selectButton [options]="tipo_cliente" [(ngModel)]="cotizacionSeleccionada.tipo_cliente"
                optionLabel="label" optionValue="value" [ngModelOptions]="{ standalone: true }"
                [disabled]="cotizacionSeleccionada.modo_cliente != 'TERCERO'" name="tipo_cliente" />
            </div>

            <!-- Categoría Cliente -->
            <div class="col-12 md:col-6">
              <label for="categoria_cliente">Categoría Cliente</label>
              <p-selectButton [options]="categoria_cliente" [(ngModel)]="cotizacionSeleccionada.categoria_cliente"
                optionLabel="label" optionValue="value" [ngModelOptions]="{ standalone: true }"
                [disabled]="!((cotizacionSeleccionada.modo_cliente == 'TERCERO' && cotizacionSeleccionada.tipo_cliente) || cotizacionSeleccionada.modo_cliente == 'CONSIGNATARIO')"
                name="categoria_cliente" />
            </div>

            <div class="flex-container">
              <!-- Columna 1 -->
              <div style="padding: 10px; flex-grow: 1">
                <label>CONSIGNATARIO</label>
                <!-- Nombre Empresa -->
                <div class="col-12 md:col-6">
                  <label for="nombre_comercial">Nombre Empresa</label>
                  <div class="divadd">
                    <p-autoComplete class="input-full" name="nombre_comercial"
                      [(ngModel)]="cotizacionSeleccionada.nombre_comercial" [suggestions]="filteredClientes"
                      (completeMethod)="buscarClientes($event)" (onSelect)="clienteSeleccionado($event)"
                      placeholder="Seleccione o escriba un cliente"
                      [disabled]="!cotizacionSeleccionada.categoria_cliente">
                    </p-autoComplete>

                    <button pButton type="button" icon="ri-adds-line" class="p-button-success p-button-sm"
                      (click)="crearCliente()" [disabled]="!cotizacionSeleccionada.categoria_cliente">
                      <i class="ri-add-line" style="font-size: 1.5rem;"></i>
                    </button>
                  </div>

                </div>

                <!-- Nombre Encargado -->
                <div class="col-12 md:col-6">
                  <label for="persona_contacto">Nombre Encargado</label>
                  <input pInputText id="persona_contacto" [(ngModel)]="cotizacionSeleccionada.persona_contacto"
                    name="persona_contacto" [disabled]="true" />
                </div>

                <!-- Correo -->
                <div class="col-12 md:col-6">
                  <label for="correo_contacto">Correo</label>
                  <input pInputText id="correo_contacto" [(ngModel)]="cotizacionSeleccionada.correo_contacto"
                    name="correo_contacto" [disabled]="true" />
                </div>

                <!-- Telefono -->
                <div class="col-12 md:col-6">
                  <label for="telefono_contacto">Telefono</label>
                  <input pInputText id="telefono_contacto" [(ngModel)]="cotizacionSeleccionada.telefono_contacto"
                    name="telefono_contacto" [disabled]="true" />
                </div>

                <!-- Ciudad -->
                <div class="col-12 md:col-6">
                  <label for="ciudad">Ciudad</label>
                  <ng-select [items]="ciudades" bindLabel="label" bindValue="value"
                    [(ngModel)]="cotizacionSeleccionada.ciudad" [ngModelOptions]="{ standalone: true }"
                    placeholder="Seleccione una ciudad" [disabled]="!cotizacionSeleccionada.correo">
                  </ng-select>
                </div>
              </div>

              <div *ngIf="!bloquearTipoCliente" style="padding: 10px; flex-grow: 1">
                <!-- Nombre Empresa -->
                <label>CONTACTO</label>
                <div class="col-12 md:col-6">
                  <label for="c_nombre_comercial">Nombre Empresa</label>
                  <div class="divadd">
                    <p-autoComplete class="input-full" name="c_nombre_comercial"
                      [(ngModel)]="cotizacionSeleccionada.c_nombre_comercial" [suggestions]="filteredForwaders"
                      (completeMethod)="buscarForwaders($event)" placeholder="Seleccione o escriba un Contacto"
                      (onSelect)="contactoSeleccionado($event)" [disabled]="!cotizacionSeleccionada.categoria_cliente">
                    </p-autoComplete>
                    <button pButton type="button" icon="ri-adds-line" class="p-button-success p-button-sm"
                      (click)="crearForwader()" [disabled]="!cotizacionSeleccionada.categoria_cliente">
                      <i class="ri-add-line" style="font-size: 1.5rem;"></i>
                    </button>
                  </div>

                </div>
                <!-- Nombre Encargado -->
                <div class="col-12 md:col-6">
                  <label for="c_persona_contacto">Nombre Encargado</label>
                  <input pInputText id="c_persona_contacto" [(ngModel)]="cotizacionSeleccionada.c_persona_contacto"
                    name="c_persona_contacto" [disabled]="true" />
                </div>

                <!-- Correo -->
                <div class="col-12 md:col-6">
                  <label for="c_correo">Correo</label>
                  <input pInputText id="c_correo" [(ngModel)]="cotizacionSeleccionada.c_correo" name="c_correo"
                    [disabled]="true" />
                </div>

                <!-- Celular -->
                <div class="col-12 md:col-6">
                  <label for="c_telefono">Celular</label>
                  <input pInputText id="c_telefono" [(ngModel)]="cotizacionSeleccionada.c_telefono" name="c_telefono"
                    [disabled]="true" />
                </div>

                <!-- Ciudad -->
                <div class="col-12 md:col-6">
                  <label for="c_ciudad">Ciudad</label>
                  <ng-select [items]="ciudades" bindLabel="label" bindValue="value"
                    [(ngModel)]="cotizacionSeleccionada.c_ciudad" [ngModelOptions]="{ standalone: true }"
                    placeholder="Seleccione una ciudad" [disabled]="true">
                  </ng-select>
                </div>
              </div>

            </div>
          </div>

          <div class="d-flex justify-content-end mt-3">
            <button pButton label="Siguiente" (click)="nextStep()" style="width: auto;"
              [disabled]="!cotizacionSeleccionada.nombre_comercial" class="p-button-primary w-full md:w-auto"></button>
          </div>
        </div>
      </div>

      <!-- Paso 2 -->
      <div *ngSwitchCase="1">
        <div class="mx-lg-4">
          <h3>Paso 2: Información</h3>

          <form #form="ngForm">
            <div class="d-flex flex-wrap mb-4 p-fluid">
              <div class="p-1 w-100">
                <label for="tipo_documento">Tipo Documento</label>
                <p-selectButton [options]="tipo_documento" [(ngModel)]="cotizacionSeleccionada.tipo_documento"
                  optionLabel="label" optionValue="value" [style]="{ width: '100%', height: '35px' }"
                  [ngModelOptions]="{ standalone: true }" name="tipo_documento" />
              </div>

              <div class="p-1 w-100">
                <label for="tipo_bl">Tipo BL</label>
                <p-selectButton [options]="tipo_bl" [(ngModel)]="cotizacionSeleccionada.tipo_bl" optionLabel="label"
                  optionValue="value" [style]="{ width: '100%', height: '35px' }"
                  [ngModelOptions]="{ standalone: true }" name="tipo_bl" />
              </div>

              <div class="p-1 flex-fill">
                <label for="numero_bl">Número BL</label>
                <input pInputText id="numero_bl" [(ngModel)]="cotizacionSeleccionada.numero_bl" name="numero_bl" />
              </div>

              <div class="p-1 flex-fill">
                <label for="id_tipo_carga">Tipo Carga</label>
                <p-selectButton [options]="tipo_carga" [(ngModel)]="cotizacionSeleccionada.id_tipo_carga"
                  optionLabel="label" optionValue="value" (ngModelChange)="actualizarTipoCarga($event)"
                  [style]="{ width: '100%', height: '35px' }" [ngModelOptions]="{ standalone: true }"
                  name="tipo_carga" />
              </div>

              <div *ngIf="!bloquearContenedor" class="p-1 flex-fill">
                <label for="numero_contenedor">Contenedor</label>
                <input pInputText id="numero_contenedor" [(ngModel)]="cotizacionSeleccionada.numero_contenedor"
                  name="numero_contenedor" [disabled]="bloquearContenedor" />
              </div>

              <div *ngIf="!bloquearTamano" class="p-1 flex-fill">
                <label for="tamano">Tamaño</label>
                <input pInputText id="tamano" [(ngModel)]="cotizacionSeleccionada.tamano" name="tamano" />
              </div>

              <div class="p-1 flex-fill">
                <label for="peso_kg">Peso KG</label>
                <input pInputText type="number" id="peso_kg" [(ngModel)]="cotizacionSeleccionada.peso_kg"
                  name="peso_kg" />
              </div>

              <div class="p-1 flex-fill">
                <label for="id_mercancia">Mercancía</label>
                <ng-select [items]="mercancias" bindLabel="label" bindValue="value"
                  [(ngModel)]="cotizacionSeleccionada.id_mercancia" [ngModelOptions]="{ standalone: true }"
                  placeholder="Seleccione una mercancía" [style.width.%]="100" [style.minWidth.px]="250">
                </ng-select>
              </div>


              <div class="p-1 flex-fill">
                <label for="embalaje">Embalaje</label>
                <input pInputText id="embalaje" [(ngModel)]="cotizacionSeleccionada.embalaje" name="embalaje" />
              </div>

              <div class="p-1 flex-fill">
                <label for="volumen_m3">Volumen m3</label>
                <input pInputText type="number" id="volumen_m3" [(ngModel)]="cotizacionSeleccionada.volumen_m3"
                  name="volumen_m3" />
              </div>

              <div class="p-1 w-100">
                <label for="id_naviera">Naviera</label>
                <p-selectButton [options]="navieras" [(ngModel)]="cotizacionSeleccionada.id_naviera" optionLabel="label"
                  optionValue="value" (ngModelChange)="actualizarGateIn($event)"
                  [style]="{ width: '100%', height: '35px' }" [ngModelOptions]="{ standalone: true }" name="naviera" />
              </div>

              <div class="p-1 flex-fill" style="min-width: 250px;">
                <label for="fecha_llegada">Fecha Llegada</label>
                <p-calendar inputId="fecha_llegada" [(ngModel)]="cotizacionSeleccionada.fecha_llegada"
                  name="fecha_llegada" dateFormat="yy-mm-dd" [showIcon]="true"
                  [style]="{ width: '100%', height: '35px' }" [appendTo]="'body'"></p-calendar>
              </div>

              <div class="p-1 flex-fill">
                <label for="id_ciudad_origen">Ciudad Origen</label>
                <ng-select [items]="ciudades" bindLabel="label" bindValue="value"
                  [(ngModel)]="cotizacionSeleccionada.id_ciudad_origen" [ngModelOptions]="{ standalone: true }"
                  placeholder="Seleccione una ciudad">
                </ng-select>
              </div>

              <div class="p-1 flex-fill">
                <label for="id_ciudad_destino">Ciudad Destino</label>
                <ng-select [items]="ciudades" bindLabel="label" bindValue="value"
                  [(ngModel)]="cotizacionSeleccionada.id_ciudad_destino" [ngModelOptions]="{ standalone: true }"
                  placeholder="Seleccione una ciudad">
                </ng-select>
              </div>

              <div class="p-1 w-100">
                <label for="id_despacho_aduanero">Despacho Aduanero</label>
                <p-selectButton [options]="tipo_despacho_aduanero"
                  [(ngModel)]="cotizacionSeleccionada.id_despacho_aduanero" optionLabel="label" optionValue="value"
                  [style]="{ width: '100%', height: '35px' }" [ngModelOptions]="{ standalone: true }"
                  name="despacho_aduanero" />
              </div>

              <div class="p-1 flex-fill">
                <label for="lugar_descarga">Lugar Descarga</label>
                <input pInputText id="lugar_descarga" [(ngModel)]="cotizacionSeleccionada.lugar_descarga"
                  name="lugar_descarga" />
              </div>

              <div class="p-1 w-100">
                <label for="id_despacho_portuario">Despacho Portuario</label>
                <p-selectButton [options]="tipo_despacho_portuario"
                  [(ngModel)]="cotizacionSeleccionada.id_despacho_portuario" optionLabel="label" optionValue="value"
                  [style]="{ width: '100%', height: '35px' }" [ngModelOptions]="{ standalone: true }"
                  name="id_despacho_portuario" />
              </div>

              <br /><br />

            </div>
            <div class="d-flex justify-content-between mt-3">
              <button pButton label="Anterior" class="p-button-secondary" (click)="prevStep()"></button>
              <button pButton label="Siguiente" (click)="nextStep()"></button>
            </div>

          </form>
        </div>
      </div>

      <!-- Paso 3 -->
      <div *ngSwitchCase="2" class="mx-lg-4">

        <!-- Checkboxes -->
        <h3>Paso 3: Cotizar Flete</h3>

        <!-- Checkboxes centrados -->
        <div class="d-flex flex-column gap-2 mb-3 align-items-center">
          <div class="d-flex flex-column align-items-center">
            <label for="devolucion" class="mb-1">Devolución</label>
            <p-checkbox [(ngModel)]="cotizacionSeleccionada.devolucion" [binary]="true" inputId="devolucion"
              name="devolucion">
            </p-checkbox>
          </div>

          <div class="d-flex flex-column align-items-center mb-2">
            <label for="gate_in" class="mb-1">Gate In</label>
            <p-checkbox [(ngModel)]="cotizacionSeleccionada.gate_in" [binary]="true" inputId="gate_in" name="gate_in"
              (onChange)="actualizarTotal()">
            </p-checkbox>
          </div>
        </div>

        <!-- Flete centrado -->
        <div class="p-2 w-100 mb-3 d-flex flex-column align-items-center gap-2">
          <input pInputText type="number" id="flete" [(ngModel)]="cotizacionSeleccionada.flete" name="flete"
            (input)="actualizarTotal()" style="max-width: 200px;" />

          <span style="font-size: 1.2rem; font-weight: 600;">
            Total: {{ total | number:'1.2-2' }} $.
          </span>
        </div>

        <!-- Botón centrado -->
        <div class="d-flex justify-content-center mb-3">
          <button pButton label="Ver Cotización" class="p-button-secondary" (click)="generarCotizacion()"></button>
        </div>

        <!-- Botones Anterior / Siguiente -->
        <div class="d-flex justify-content-between mt-3">
          <button pButton label="Anterior" class="p-button-secondary" (click)="prevStep()"></button>
          <button pButton label="Siguiente" (click)="nextStep()" [disabled]="!cotizacionSeleccionada.flete"></button>
        </div>
      </div>

      <!-- Paso 4 -->
      <div *ngSwitchCase="3">
        <h3>Paso 4: Decision</h3>
        <!-- <label for="estado">Estado</label> -->
        <div class="d-flex justify-content-center mb-3">
          <p-selectButton [options]="estado" [(ngModel)]="cotizacionSeleccionada.estado" optionLabel="label"
            optionValue="value" [style]="{ width: '300px', height: '35px' }" [ngModelOptions]="{ standalone: true }"
            name="estado">
          </p-selectButton>
        </div>
        <br /><br />
        <div class="d-flex justify-content-between mt-3">
          <button pButton label="Anterior" class="p-button-secondary" (click)="prevStep()"></button>
          <button pButton label="Finalizar" (click)="finalizar()" [disabled]="!cotizacionSeleccionada.estado"></button>
        </div>

      </div>


      <!-- Paso 6 -->
      <!-- <div *ngSwitchCase="5">
      <h3>Paso 6: Confirmación</h3> -->
      <!-- <p><strong>Nombre:</strong> {{ formData.nombre }}</p>
      <p><strong>Ciudad:</strong> {{ formData.ciudad }}</p>
      <p><strong>Email:</strong> {{ formData.email }}</p>
      <p><strong>DNI:</strong> {{ formData.dni }}</p>
      <p><strong>Comentarios:</strong> {{ formData.comentarios }}</p> -->

      <!-- <button pButton label="Anterior" class="p-button-secondary" (click)="prevStep()"></button>
      <button pButton label="Finalizar" class="p-button-success" (click)="submit()"></button>
    </div> -->

    </ng-container>
  </div>
</div>

<p-dialog header="Vista previa Cotización" [(visible)]="mostrarPDF" [modal]="true"
  [style]="{width: '80vw', height: '80vh'}">

  <iframe [src]="pdfSrc" width="100%" height="100%" style="border:none;"></iframe>
</p-dialog>


<!-- CREAR CLIENTE -->
<p-dialog [(visible)]="dialogCliente" [modal]="true" [style]="{ width: '60%' }" header="Crear Nuevo Cliente">
  <form (ngSubmit)="guardarCliente()" #form="ngForm">
    <div class="p-fluid p-grid p-formgrid">
      <div class="p-field p-col-6">
        <label for="nombre_comercial">Nombre Cliente</label>
        <input pInputText id="nombre_comercial" [(ngModel)]="nuevoCliente.nombre_comercial" name="nombre_comercial" />
      </div>

      <div class="p-field p-col-4">
        <label for="nit">NIT o CI</label>
        <input pInputText id="nit" [(ngModel)]="nuevoCliente.nit" name="nit" />
      </div>

      <div class="p-field p-col-6">
        <label for="persona_contacto">Persona de Contacto</label>
        <input pInputText id="persona_contacto" [(ngModel)]="nuevoCliente.persona_contacto" name="persona_contacto" />
      </div>

      <div class="p-field p-col-6">
        <label for="correo_contacto">Correo Contacto</label>
        <input pInputText id="correo_contacto" [(ngModel)]="nuevoCliente.correo_contacto" name="correo_contacto" />
      </div>

      <div class="p-field p-col-6">
        <label for="telefono_contacto">Teléfono Contacto</label>
        <input pInputText id="telefono_contacto" [(ngModel)]="nuevoCliente.telefono_contacto"
          name="telefono_contacto" />
      </div>

      <div class="p-field p-col-8">
        <label for="direccion">Dirección</label>
        <input pInputText id="direccion" [(ngModel)]="nuevoCliente.direccion" name="direccion" />
      </div>

      <div class="p-field p-col-6">
        <label for="ciudad">Ciudad</label>
        <ng-select [items]="ciudades" bindLabel="label" bindValue="value" [(ngModel)]="nuevoCliente.ciudad"
          [ngModelOptions]="{ standalone: true }" placeholder="Seleccione una ciudad">
        </ng-select>
      </div>
    </div>

    <div class="p-dialog-footer">
      <button pButton type="submit" label="Guardar" class="p-button-success"></button>
      <button pButton type="button" label="Cancelar" class="p-button-secondary"
        (click)="dialogCliente = false"></button>
    </div>
  </form>
</p-dialog>

<!-- CREAR CLIENTE -->
<p-dialog [(visible)]="dialogForwader" [modal]="true" [style]="{ width: '60%' }" header="Crear Nuevo Forwader">
  <form (ngSubmit)="guardarForwader()" #form="ngForm">
    <div class="p-fluid p-grid p-formgrid">
      <div class="p-field p-col-6">
        <label for="nombre_comercial">Nombre Contacto</label>
        <input pInputText id="nombre_comercial" [(ngModel)]="nuevoForwader.nombre_comercial" name="nombre_comercial" />
      </div>

      <div class="p-field p-col-6">
        <label for="persona_contacto">Persona de Contacto</label>
        <input pInputText id="persona_contacto" [(ngModel)]="nuevoForwader.persona_contacto" name="persona_contacto" />
      </div>

      <div class="p-field p-col-6">
        <label for="correo_correocontacto">Correo Contacto</label>
        <input pInputText id="correo" [(ngModel)]="nuevoForwader.correo" name="correo" />
      </div>

      <div class="p-field p-col-6">
        <label for="telefono">Teléfono Contacto</label>
        <input pInputText id="telefono" [(ngModel)]="nuevoForwader.telefono" name="telefono" />
      </div>

      <div class="p-field p-col-6">
        <label for="ciudad">Ciudad</label>
        <ng-select [items]="ciudades" bindLabel="label" bindValue="value" [(ngModel)]="nuevoForwader.ciudad"
          [ngModelOptions]="{ standalone: true }" placeholder="Seleccione una ciudad">
        </ng-select>
      </div>
    </div>

    <div class="p-dialog-footer">
      <button pButton type="submit" label="Guardar" class="p-button-success"></button>
      <button pButton type="button" label="Cancelar" class="p-button-secondary"
        (click)="dialogForwader = false"></button>
    </div>
  </form>
</p-dialog>