<div *ngIf="!mostrarFormulario" class="d-flex gap-2">
  <button pButton type="button" icon="pi pi-plus" label="Nueva Cotización" class="p-button-success"
    (click)="abrirNuevaCotizacion()"></button>
  <!-- <div>
    <p-autoComplete [(ngModel)]="cliente" [suggestions]="clientesFiltrados" (completeMethod)="filtrarClientes($event)"
      (onSelect)="filtroCliente = $event.label" field="label" [dropdown]="true" [showClear]="true"
      (onClear)="filtroCliente = ''" [forceSelection]="false" placeholder="CLIENTE" styleClass="w-150">
    </p-autoComplete>
  </div> -->
  <button pButton type="button" icon="pi pi-file-excel" label="Exportar Excel" class="p-button-success"
    (click)="exportarCotizacionesExcel()"></button>
</div>
<div *ngIf="mostrarFormulario" class="p-mb-3">
  <button pButton type="button" icon="pi pi-plus" label="Cerrar" class="p-button-success"
    (click)="cerrarCotizacion()"></button>
</div>

<div *ngIf="!mostrarFormulario">
  <p-table class="resaltatabla" [value]="cotizacionesFiltradas" [tableStyle]="{ 'min-width': '80rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre Consignatario</th>
        <th>N° Contenedor</th>
        <th>Tamaño Contenedor</th>
        <th>Peso KG</th>
        <th>Naviera</th>
        <th>Tipo Documento</th>
        <th>Tipo Carga</th>
        <th>Origen</th>
        <th>Destino</th>
        <th>Fecha Llegada</th>
        <th>Flete</th>
        <th>N° Cotización</th>
        <th>Acciones</th>
      </tr>
      <tr>
        <!-- FILTRO CLIENTE -->
        <th>
          <p-autoComplete [(ngModel)]="cliente" [suggestions]="clientesFiltrados"
            (completeMethod)="filtrarClientes($event)" (onSelect)="filtroCliente = $event.label" field="label"
            [dropdown]="true" [showClear]="true" (onClear)="filtroCliente = ''" [forceSelection]="false"
            placeholder="CLIENTE" styleClass="w-150">
          </p-autoComplete>
        </th>

        <!-- N° CONTENEDOR -->
        <th>
          <input type="text" pInputText [(ngModel)]="filtroContenedor" style="width: 100%;" placeholder="Buscar..." />
        </th>

        <!-- Tamaño -->
        <th>
          <input type="text" pInputText [(ngModel)]="filtroTamano" style="width: 100%;" placeholder="Buscar..." />
        </th>

        <!-- Peso -->
        <th>
          <input type="text" pInputText [(ngModel)]="filtroPeso" style="width: 100%;" placeholder="Buscar..." />
        </th>

        <!-- Naviera -->
        <th>
          <input type="text" pInputText [(ngModel)]="filtroNaviera" style="width: 100%;" placeholder="Buscar..." />
        </th>

        <!-- Tipo Documento -->
        <th>
          <input type="text" pInputText [(ngModel)]="filtroTipoDoc" style="width: 100%;" placeholder="Buscar..." />
        </th>

        <!-- Tipo Carga -->
        <th>
          <input type="text" pInputText [(ngModel)]="filtroTipoCarga" style="width: 100%;" placeholder="Buscar..." />
        </th>

        <!-- Origen -->
        <th>
          <input type="text" pInputText [(ngModel)]="filtroOrigen" style="width: 100%;" placeholder="Buscar..." />
        </th>

        <!-- Destino -->
        <th>
          <input type="text" pInputText [(ngModel)]="filtroDestino" style="width: 100%;" placeholder="Buscar..." />
        </th>

        <!-- Fecha llegada -->
        <th>
          <input type="text" pInputText [(ngModel)]="filtroFecha" style="width: 100%;" placeholder="dd/mm/yyyy" />
        </th>

        <!-- Flete -->
        <th>
          <input type="text" pInputText [(ngModel)]="filtroFlete" style="width: 100%;" placeholder="Buscar..." />
        </th>

        <!-- N° Cotización -->
        <th>
          <input type="text" pInputText [(ngModel)]="filtroCorrelativo" style="width: 100%;" placeholder="Buscar..." />
        </th>

        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-cotizacion>
      <tr (click)="onRowClick(cotizacion)" [ngClass]="estiloFila(cotizacion)">
        <td>{{ cotizacion.c_nombre_comercial ? getForwaderNombre(cotizacion.c_nombre_comercial) + " ("
          +cotizacion.tipo_cliente + ")" :
          cotizacion.nombre_comercial ? getClienteNombre(cotizacion.nombre_comercial) : '' }}</td>
        <td *ngIf="cotizacion.contenedores.length>1">
          {{cotizacion.contenedores.length}}
          <button type="button" class="btn-outline-info rounded-pill btn btn-icon btn-sm"
            (click)="op.toggle($event); $event.stopPropagation()"><i
              [class]="cotizacion.expanded ? 'ri-arrow-drop-up-line fs-22' : 'ri-arrow-drop-down-line fs-22'"
              aria-hidden="true"></i></button>
          <p-overlayPanel #op>
            <div class="flex flex-column gap-3 w-25rem">

              <div>
                <p-table [value]="cotizacion.contenedores" [style]="{'margin': '0'}" class="tabla-popup">
                  <ng-template pTemplate="header">
      <tr>
        <th>N° Contenedor</th>
        <th>Tamaño Contenedor</th>
        <th>Peso KG</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cont>
      <tr (click)="onSubRowClick(cotizacion, cont)">
        <td>{{ cont.numero_contenedor }}</td>
        <td>{{ cont.tamano }}</td>
        <td>{{ cont.peso_kg }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
</div>
</p-overlayPanel>
</td>
<td *ngIf="cotizacion.contenedores.length==0 || cotizacion.contenedores.length==1">{{
  cotizacion.contenedores?.[0]?.numero_contenedor }}</td>
<td *ngIf="cotizacion.contenedores.length>1"></td>
<td *ngIf="cotizacion.contenedores.length==0 || cotizacion.contenedores.length==1">{{
  cotizacion.contenedores?.[0]?.tamano }}</td>
<td *ngIf="cotizacion.contenedores.length>1"></td>
<td *ngIf="cotizacion.contenedores.length==0 || cotizacion.contenedores.length==1">{{
  cotizacion.contenedores?.[0]?.peso_kg }}</td>
<td>{{ getNavieraNombre(cotizacion.id_naviera) }}</td>
<td>{{ cotizacion.tipo_documento }}</td>
<td>{{ cotizacion.id_tipo_carga }}</td>
<td>{{ getCiudadNombre(cotizacion.id_ciudad_origen) }}</td>
<td>{{ getCiudadNombre(cotizacion.id_ciudad_destino) }}</td>
<td>{{ cotizacion.fecha_llegada | date:'dd/MM/yyyy' }}</td>
<td>{{ cotizacion.flete }}</td>
<td>{{ cotizacion.correlativo }}</td>
<td>
  <button *ngIf="cotizacion.estado !== 'ACEPTADO'" type="button"
    class="btn-outline-danger rounded-pill btn btn-icon btn-sm"
    (click)="eliminarCotizacion(cotizacion); $event.stopPropagation()"><i class="ri-delete-bin-6-line fs-22"
      aria-hidden="true"></i></button>
  <button type="button" class="btn-outline-info rounded-pill btn btn-icon btn-sm"
    (click)="editarCotizacion(cotizacion); $event.stopPropagation()"><i class="ri-ball-pen-line fs-22"
      aria-hidden="true"></i></button>
</td>
</tr>
<tr *ngIf="cotizacion.expanded">
  <td colspan="4" style="padding: 0;">
    <p-table [value]="cotizacion.contenedores" [style]="{'margin': '0'}">
      <ng-template pTemplate="header">
<tr>
  <th style="opacity: 0;">Nombre Consignatario</th>
  <th>N° Contenedor</th>
  <th>Tamaño Contenedor</th>
  <th>Peso KG</th>
</tr>
</ng-template>
<ng-template pTemplate="body" let-cont>
  <tr>
    <td style="opacity: 0;">{{ getClienteNombre(cotizacion.nombre_comercial) }}</td>
    <td>{{ cont.numero_contenedor }}</td>
    <td>{{ cont.tamano }}</td>
    <td>{{ cont.peso_kg }}</td>

  </tr>
</ng-template>
</p-table>
</td>
</tr>
</ng-template>
</p-table>
</div>

<div *ngIf="mostrarFormulario">
  <p-steps [model]="steps" [activeIndex]="activeIndex"></p-steps>

  <div class="p-3">
    <ng-container [ngSwitch]="activeIndex">

      <!-- Paso 1 -->
      <div *ngSwitchCase="0" class="p-fluid">
        <div class="mx-lg-4">
          <h3 class="mb-4">Paso 1: Datos del Cliente</h3>

          <div class="grid">
            <!-- Modo Cliente -->
            <div class="col-12 md:col-6">
              <label for="modo_cliente">Modo Cliente</label>
              <p-selectButton [options]="modo_cliente" [(ngModel)]="cotizacionSeleccionada.modo_cliente"
                optionLabel="label" optionValue="value" (ngModelChange)="actualizarTipoCliente($event)"
                [ngModelOptions]="{ standalone: true }" name="modo_cliente" />
            </div>

            <!-- Tipo Cliente -->
            <div *ngIf="!bloquearTipoCliente" class="col-12 md:col-6">
              <label for="tipo_cliente">Tipo Cliente</label>
              <p-selectButton [options]="tipo_cliente" [(ngModel)]="cotizacionSeleccionada.tipo_cliente"
                optionLabel="label" optionValue="value" [ngModelOptions]="{ standalone: true }"
                [disabled]="cotizacionSeleccionada.modo_cliente != 'TERCERO'" name="tipo_cliente" />
            </div>

            <!-- Categoría Cliente -->
            <div class="col-12 md:col-6">
              <label for="categoria_cliente">Categoría Cliente</label>
              <p-selectButton [options]="categoria_cliente" [(ngModel)]="cotizacionSeleccionada.categoria_cliente"
                optionLabel="label" optionValue="value" [ngModelOptions]="{ standalone: true }"
                [disabled]="!((cotizacionSeleccionada.modo_cliente == 'TERCERO' && cotizacionSeleccionada.tipo_cliente) || cotizacionSeleccionada.modo_cliente == 'CONSIGNATARIO')"
                name="categoria_cliente" />
            </div>

            <div class="flex-container">
              <!-- Columna 1 -->
              <div style="padding: 10px; flex-grow: 1">
                <label>CONSIGNATARIO</label>
                <!-- Nombre Empresa -->
                <div class="col-12 md:col-6">
                  <label for="nombre_comercial">Nombre Empresa</label>
                  <div class="divadd">
                    <ng-select class="input-full" [items]="clientes" bindLabel="nombre_comercial" bindValue="value"
                      [(ngModel)]="cotizacionSeleccionada.nombre_comercial" [ngModelOptions]="{ standalone: true }"
                      placeholder="Seleccione un cliente" (ngModelChange)="clienteSeleccionado($event)"
                      (clear)="clienteLimpio()" [disabled]="!cotizacionSeleccionada.categoria_cliente">
                    </ng-select>

                    <button pButton type="button" icon="ri-adds-line" class="p-button-success p-button-sm"
                      style="height: 40px; padding: 0 8px;" (click)="crearCliente()"
                      [disabled]="!cotizacionSeleccionada.categoria_cliente">
                      <i class="ri-add-line" style="font-size: 1.2rem;"></i>
                    </button>

                  </div>

                </div>

                <!-- Nombre Encargado -->
                <div class="col-12 md:col-6">
                  <label for="persona_contacto">Nombre Encargado</label>
                  <!-- <input pInputText id="persona_contacto" [(ngModel)]="cotizacionSeleccionada.persona_contacto"
                    name="persona_contacto" [disabled]="true" /> -->

                  <div class="col-12 md:col-6">

                    <div class="divadd">
                      <ng-select class="input-full" [items]="consignatario_contactos" bindLabel="persona_contacto"
                        bindValue="persona_contacto" [(ngModel)]="cotizacionSeleccionada.persona_contacto"
                        [ngModelOptions]="{ standalone: true }" placeholder="Seleccione un contacto"
                        (ngModelChange)="contactoConsignatarioSeleccionado($event)" (clear)="contactoLimpio()">
                      </ng-select>

                      <button pButton type="button" icon="ri-adds-line" class="p-button-success p-button-sm"
                        style="height: 40px; padding: 0 8px;" (click)="crearConsignatarioContacto()">
                        <i class="ri-add-line" style="font-size: 1.2rem;"></i>
                      </button>

                    </div>

                  </div>
                </div>

                <!-- Correo -->
                <div class="col-12 md:col-6">
                  <label for="correo_contacto">Correo</label>
                  <input pInputText id="correo_contacto" [(ngModel)]="cotizacionSeleccionada.correo_contacto"
                    name="correo_contacto" [disabled]="true" />
                </div>

                <!-- Telefono -->
                <div class="col-12 md:col-6">
                  <label for="telefono_contacto">Telefono</label>
                  <input pInputText id="telefono_contacto" [(ngModel)]="cotizacionSeleccionada.telefono_contacto"
                    name="telefono_contacto" [disabled]="true" />
                </div>

                <!-- Ciudad -->
                <div class="col-12 md:col-6">
                  <label for="ciudad">Ciudad</label>
                  <ng-select [items]="ciudades" bindLabel="label" bindValue="value"
                    [(ngModel)]="cotizacionSeleccionada.ciudad" [ngModelOptions]="{ standalone: true }"
                    placeholder="Seleccione una ciudad" [disabled]="!cotizacionSeleccionada.correo">
                  </ng-select>
                </div>
              </div>

              <div *ngIf="!bloquearTipoCliente" style="padding: 10px; flex-grow: 1">
                <!-- Nombre Empresa -->
                <label>CONTACTO</label>
                <div class="col-12 md:col-6">
                  <label for="c_nombre_comercial">Nombre Empresa</label>
                  <div class="divadd">
                    <ng-select class="input-full" [items]="forwaders" bindLabel="nombre_comercial" bindValue="value"
                      [(ngModel)]="cotizacionSeleccionada.c_nombre_comercial" [ngModelOptions]="{ standalone: true }"
                      placeholder="Seleccione un cliente" (ngModelChange)="contactoSeleccionado($event)"
                      [disabled]="!cotizacionSeleccionada.categoria_cliente">
                    </ng-select>
                    <button pButton type="button" icon="ri-adds-line" class="p-button-success p-button-sm"
                      style="height: 40px; padding: 0 8px;" (click)="crearForwader()"
                      [disabled]="!cotizacionSeleccionada.categoria_cliente">
                      <i class="ri-add-line" style="font-size: 1.2rem;"></i>
                    </button>

                  </div>

                </div>
                <!-- Nombre Encargado -->
                <div class="col-12 md:col-6">
                  <label for="c_persona_contacto">Nombre Encargado</label>

                  <div class="divadd">
                    <ng-select class="input-full" [items]="forwarder_contactos" bindLabel="persona_contacto"
                      bindValue="persona_contacto" [(ngModel)]="cotizacionSeleccionada.c_persona_contacto"
                      [ngModelOptions]="{ standalone: true }" placeholder="Seleccione un contacto"
                      (ngModelChange)="contactoForwarderSeleccionado($event)" (clear)="contactoForwarderLimpio()">
                    </ng-select>

                    <button pButton type="button" icon="ri-adds-line" class="p-button-success p-button-sm"
                      style="height: 40px; padding: 0 8px;" (click)="crearForwarderContacto()">
                      <i class="ri-add-line" style="font-size: 1.2rem;"></i>
                    </button>

                  </div>

                </div>


                <!-- Correo -->
                <div class="col-12 md:col-6">
                  <label for="c_correo">Correo</label>
                  <input pInputText id="c_correo" [(ngModel)]="cotizacionSeleccionada.c_correo" name="c_correo"
                    [disabled]="true" />
                </div>

                <!-- Celular -->
                <div class="col-12 md:col-6">
                  <label for="c_telefono">Celular</label>
                  <input pInputText id="c_telefono" [(ngModel)]="cotizacionSeleccionada.c_telefono" name="c_telefono"
                    [disabled]="true" />
                </div>

                <!-- Ciudad -->
                <div class="col-12 md:col-6">
                  <label for="c_ciudad">Ciudad</label>
                  <ng-select [items]="ciudades" bindLabel="label" bindValue="value"
                    [(ngModel)]="cotizacionSeleccionada.c_ciudad" [ngModelOptions]="{ standalone: true }"
                    placeholder="Seleccione una ciudad" [disabled]="true">
                  </ng-select>
                </div>
              </div>

            </div>
          </div>

          <div class="d-flex justify-content-end mt-3">
            <button pButton label="Siguiente" (click)="nextStep()" style="width: auto;"
              [disabled]="!cotizacionSeleccionada.nombre_comercial && !cotizacionSeleccionada.c_nombre_comercial"
              class="p-button-primary w-full md:w-auto"></button>
          </div>
        </div>
      </div>

      <!-- Paso 2 -->
      <div *ngSwitchCase="1">
        <div class="mx-lg-4">
          <h3>Paso 2: Información</h3>

          <form #form="ngForm">
            <div class="d-flex flex-wrap mb-4 p-fluid">
              <div class="p-1 w-100">
                <label for="tipo_documento">Tipo Documento</label>
                <p-selectButton [options]="tipo_documento" [(ngModel)]="cotizacionSeleccionada.tipo_documento"
                  optionLabel="label" optionValue="value" [style]="{ width: '100%', height: '35px' }"
                  [ngModelOptions]="{ standalone: true }" name="tipo_documento" />
              </div>

              <div class="p-1 w-100">
                <label for="tipo_bl">Tipo BL</label>
                <p-selectButton [options]="tipo_bl" [(ngModel)]="cotizacionSeleccionada.tipo_bl" optionLabel="label"
                  optionValue="value" [style]="{ width: '100%', height: '35px' }"
                  [ngModelOptions]="{ standalone: true }" name="tipo_bl" />
              </div>

              <div class="p-1 flex-fill">
                <label for="numero_bl">Número BL</label>
                <input pInputText id="numero_bl" [(ngModel)]="cotizacionSeleccionada.numero_bl" name="numero_bl" />
              </div>

              <div class="p-1 flex-fill">
                <label for="id_tipo_carga">Tipo Carga</label>
                <p-selectButton [options]="tipo_carga" [(ngModel)]="cotizacionSeleccionada.id_tipo_carga"
                  optionLabel="label" optionValue="value" (ngModelChange)="actualizarTipoCarga($event)"
                  [style]="{ width: '100%', height: '35px' }" [ngModelOptions]="{ standalone: true }"
                  name="tipo_carga" />
              </div>

              <div *ngIf="!bloquearContenedor" class="col-12 md:col-6">
                <button pButton label="Añadir Contenedor" icon="pi pi-plus" class="p-button-success"
                  (click)="nuevoContenedor()">
                </button>
                <div class="chips-container">
                  <div class="chip" *ngFor="let d of contenedores; let i = index" (click)="editarContenedor(i)">
                    Contenedor: {{ d.numero_contenedor }} <br>
                    Tamaño:{{ d.tamano }} <br>
                    Peso Kg:{{ d.peso_kg }} kg <br>
                    Mercancia: {{ getMercanciaNombre(d.id_mercancia) }} <br>
                    Embalaje: {{ d.embalaje }} <br>
                    Volumen: {{ d.volumen_m3 }} m³

                    <button type="button" class="btn-outline-danger rounded-pill btn btn-icon btn-sm"
                      (click)="eliminarContenedor(i); $event.stopPropagation();"><i class="ri-delete-bin-6-line fs-22"
                        aria-hidden="true"></i></button>
                    <!-- <span class="remove" (click)="eliminarContenedor(i); $event.stopPropagation();">×</span> -->
                  </div>
                </div>
              </div>

              <!-- <div *ngIf="!bloquearContenedor" class="p-1 flex-fill">
                <label for="numero_contenedor">Contenedor</label>
                <input pInputText id="numero_contenedor" [(ngModel)]="cotizacionSeleccionada.numero_contenedor"
                  name="numero_contenedor" [disabled]="bloquearContenedor" />
              </div>

              <div *ngIf="!bloquearTamano" class="p-1 flex-fill">
                <label for="tamano">Tamaño</label>
                <input pInputText id="tamano" [(ngModel)]="cotizacionSeleccionada.tamano" name="tamano" />
              </div> -->

              <div *ngIf="cotizacionSeleccionada.id_tipo_carga === 'CARGA_SUELTA'" class="p-1 flex-fill">
                <label for="peso_kg">Peso KG</label>
                <input pInputText type="number" id="peso_kg" [(ngModel)]="cotizacionSeleccionada.peso_kg"
                  name="peso_kg" />
              </div>

              <div *ngIf="cotizacionSeleccionada.id_tipo_carga === 'CARGA_SUELTA'" class="p-1 flex-fill">
                <label for="id_mercancia">Mercancía</label>
                <div class="divadd">
                  <ng-select [items]="mercancias" bindLabel="label" bindValue="value"
                    [(ngModel)]="cotizacionSeleccionada.id_mercancia" [ngModelOptions]="{ standalone: true }"
                    placeholder="Seleccione una mercancía" [style.width.%]="100" [style.minWidth.px]="250">
                  </ng-select>

                  <button pButton type="button" icon="ri-adds-line" class="p-button-success p-button-sm"
                    style="height: 40px; padding: 0 8px;" (click)="crearMercancia()">
                    <i class="ri-add-line" style="font-size: 1.2rem;"></i>
                  </button>

                </div>
              </div>

              <div *ngIf="cotizacionSeleccionada.id_tipo_carga === 'CARGA_SUELTA'" class="p-1 flex-fill">
                <label for="embalaje">Embalaje</label>
                <input pInputText id="embalaje" [(ngModel)]="cotizacionSeleccionada.embalaje" name="embalaje" />
              </div>

              <div *ngIf="cotizacionSeleccionada.id_tipo_carga === 'CARGA_SUELTA'" class="p-1 flex-fill">
                <label for="volumen_m3">Volumen m3</label>
                <input pInputText type="number" id="volumen_m3" [(ngModel)]="cotizacionSeleccionada.volumen_m3"
                  name="volumen_m3" />
              </div>

              <div class="p-1 w-100">
                <label for="id_naviera">Naviera</label>
                <p-selectButton [options]="navieras" [(ngModel)]="cotizacionSeleccionada.id_naviera" optionLabel="label"
                  optionValue="value" (ngModelChange)="actualizarGateIn($event)"
                  [style]="{ width: '100%', height: '35px' }" [ngModelOptions]="{ standalone: true }" name="naviera" />
              </div>

              <div class="p-1 flex-fill" style="min-width: 250px;">
                <label for="fecha_llegada">Fecha Llegada</label>
                <p-calendar inputId="fecha_llegada" [(ngModel)]="cotizacionSeleccionada.fecha_llegada"
                  name="fecha_llegada" dateFormat="yy-mm-dd" [showIcon]="true"
                  [style]="{ width: '100%', height: '35px' }" [appendTo]="'body'"
                  (ngModelChange)="calcularFechaLimite($event)"></p-calendar>
              </div>

              <div class="p-1 flex-fill" style="min-width: 250px;">
                <label for="fecha_limite">Fecha Límite</label>
                <p-calendar inputId="fecha_limite" [(ngModel)]="cotizacionSeleccionada.fecha_limite" name="fecha_limite"
                  dateFormat="yy-mm-dd" [showIcon]="true" [style]="{ width: '100%', height: '35px' }"
                  [appendTo]="'body'" [disabled]="true"></p-calendar>
              </div>

              <div class="p-1 flex-fill">
                <label for="id_ciudad_origen">Ciudad Origen</label>
                <ng-select [items]="ciudades" bindLabel="label" bindValue="value"
                  [(ngModel)]="cotizacionSeleccionada.id_ciudad_origen" [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="actualizarOrigen($event)" placeholder="Seleccione una ciudad">
                </ng-select>
              </div>

              <div class="p-1 flex-fill">
                <label for="id_ciudad_destino">Ciudad Destino</label>
                <ng-select [items]="ciudades" bindLabel="label" bindValue="value"
                  [(ngModel)]="cotizacionSeleccionada.id_ciudad_destino" [ngModelOptions]="{ standalone: true }"
                  placeholder="Seleccione una ciudad">
                </ng-select>
              </div>

              <div class="p-1 w-100">
                <label for="id_despacho_aduanero">Despacho Aduanero</label>
                <p-selectButton [options]="tipo_despacho_aduanero"
                  [(ngModel)]="cotizacionSeleccionada.id_despacho_aduanero" optionLabel="label" optionValue="value"
                  [style]="{ width: '100%', height: '35px' }" [ngModelOptions]="{ standalone: true }"
                  name="despacho_aduanero" />
              </div>

              <div class="p-1 flex-fill">
                <label for="lugar_descarga">Lugar Descarga</label>
                <input pInputText id="lugar_descarga" [(ngModel)]="cotizacionSeleccionada.lugar_descarga"
                  name="lugar_descarga" />
              </div>

              <div *ngIf="bloquearOrigen" class="p-1 w-100">
                <label for="id_despacho_portuario">Despacho Portuario</label>
                <p-selectButton [options]="tipo_despacho_portuario"
                  [(ngModel)]="cotizacionSeleccionada.id_despacho_portuario" optionLabel="label" optionValue="value"
                  [style]="{ width: '100%', height: '35px' }" [ngModelOptions]="{ standalone: true }"
                  name="id_despacho_portuario" />
              </div>

              <div class="p-1 flex-fill">
                <label for="camion">Camion</label>
                <p-selectButton [options]="camion" [(ngModel)]="cotizacionSeleccionada.camion" optionLabel="label"
                  optionValue="value" [style]="{ width: '100%', height: '35px' }"
                  [ngModelOptions]="{ standalone: true }" name="camion" />
              </div>

              <div class="p-1 w-100">
                <label for="observacion">Observación</label>
                <textarea pInputTextarea id="observacion" [(ngModel)]="cotizacionSeleccionada.observacion"
                  name="observacion" rows="4" cols="30"></textarea>
              </div>

              <br /><br />

            </div>
            <div class="d-flex justify-content-between mt-3">
              <button pButton label="Anterior" class="p-button-secondary" (click)="prevStep()"></button>
              <button pButton label="Siguiente" (click)="nextStep()"></button>
            </div>

          </form>
        </div>
      </div>

      <!-- Paso 3 -->
      <div *ngSwitchCase="2" class="mx-lg-4">

        <!-- Checkboxes -->
        <h3>Paso 3: Cotizar Flete</h3>

        <!-- Checkboxes centrados -->
        <div class="d-flex flex-column gap-2 mb-3 align-items-center">
          <div class="d-flex flex-column align-items-center">
            <label for="devolucion" class="mb-1">Devolución</label>
            <p-checkbox [(ngModel)]="cotizacionSeleccionada.devolucion" [binary]="true" inputId="devolucion"
              name="devolucion">
            </p-checkbox>
          </div>

          <div class="d-flex flex-column align-items-center mb-2">
            <label for="gate_in" class="mb-1">Gate In</label>
            <p-checkbox [(ngModel)]="cotizacionSeleccionada.gate_in" [binary]="true" inputId="gate_in" name="gate_in"
              (onChange)="actualizarTotal()">
            </p-checkbox>
          </div>
        </div>

        <div *ngIf="contenedores.length > 0" class="chips-container">
          <div class="chip_flete" *ngFor="let d of contenedores; let i = index">

            <div class="chip-title">
              Flete Contenedor: {{ d.numero_contenedor }}
            </div>

            <input pInputText type="number" [(ngModel)]="d.flete" (input)="actualizarTotal()" />

          </div>
        </div>

        <!-- Flete centrado -->
        <div class="p-2 w-100 mb-3 d-flex flex-column align-items-center gap-2">
          <input *ngIf="contenedores.length == 0" pInputText type="number" id="flete" [(ngModel)]="flete" name="flete"
            (input)="actualizarTotal()" style="max-width: 200px;" />

          <span style="font-size: 1.2rem; font-weight: 600;">
            Total: {{ total | number:'1.2-2' }} $.
          </span>
        </div>

        <!-- Botón centrado -->
        <div class="d-flex justify-content-center mb-3">
          <button pButton label="Ver Cotización" class="p-button-secondary" (click)="generarCotizacion()"></button>
        </div>

        <!-- Botones Anterior / Siguiente -->
        <div class="d-flex justify-content-between mt-3">
          <button pButton label="Anterior" class="p-button-secondary" (click)="prevStep()"></button>
          <button pButton label="Siguiente" (click)="nextStep()" [disabled]="!cotizacionSeleccionada.flete"></button>
        </div>
      </div>

      <!-- Paso 4 -->
      <div *ngSwitchCase="3">
        <h3>Paso 4: Decision</h3>
        <!-- <label for="estado">Estado</label> -->
        <div class="d-flex justify-content-center mb-3">
          <p-selectButton [options]="estado" [(ngModel)]="cotizacionSeleccionada.estado" optionLabel="label"
            optionValue="value" [style]="{ width: '300px', height: '35px' }" [ngModelOptions]="{ standalone: true }"
            name="estado">
          </p-selectButton>
        </div>
        <br /><br />
        <div class="d-flex justify-content-between mt-3">
          <button pButton label="Anterior" class="p-button-secondary" (click)="prevStep()"></button>
          <button *ngIf="cotizacionSeleccionada.estado != 'ACTIVO'" pButton label="Finalizar"
            (click)="finalizar()"></button>
        </div>

      </div>


      <!-- Paso 6 -->
      <!-- <div *ngSwitchCase="5">
      <h3>Paso 6: Confirmación</h3> -->
      <!-- <p><strong>Nombre:</strong> {{ formData.nombre }}</p>
      <p><strong>Ciudad:</strong> {{ formData.ciudad }}</p>
      <p><strong>Email:</strong> {{ formData.email }}</p>
      <p><strong>DNI:</strong> {{ formData.dni }}</p>
      <p><strong>Comentarios:</strong> {{ formData.comentarios }}</p> -->

      <!-- <button pButton label="Anterior" class="p-button-secondary" (click)="prevStep()"></button>
      <button pButton label="Finalizar" class="p-button-success" (click)="submit()"></button>
    </div> -->

    </ng-container>
  </div>
</div>

<p-dialog header="Vista previa Cotización" [(visible)]="mostrarPDF" [modal]="true"
  [style]="{width: '80vw', height: '80vh'}">

  <iframe [src]="pdfSrc" width="100%" height="100%" style="border:none;"></iframe>
</p-dialog>


<!-- CREAR CLIENTE -->
<p-dialog [(visible)]="dialogCliente" [modal]="true" [style]="{ width: '60%' }" header="Crear Nuevo Cliente">
  <form (ngSubmit)="guardarCliente()" #form="ngForm">
    <div class="p-fluid p-grid p-formgrid">
      <div class="p-field p-col-6">
        <label for="nombre_comercial">Nombre Cliente</label>
        <input pInputText id="nombre_comercial" [(ngModel)]="nuevoCliente.nombre_comercial" name="nombre_comercial"
          (input)="nuevoCliente.nombre_comercial = nuevoCliente.nombre_comercial.toUpperCase()" />
      </div>

      <div class="p-field p-col-4">
        <label for="nit">NIT o CI</label>
        <input pInputText id="nit" [(ngModel)]="nuevoCliente.nit" name="nit" />
      </div>

      <div class="p-field p-col-6">
        <label for="persona_contacto">Persona de Contacto</label>
        <input pInputText id="persona_contacto" [(ngModel)]="nuevoCliente.persona_contacto" name="persona_contacto" />
      </div>

      <div class="p-field p-col-6">
        <label for="correo_contacto">Correo Contacto</label>
        <input pInputText id="correo_contacto" [(ngModel)]="nuevoCliente.correo_contacto" name="correo_contacto" />
      </div>

      <div class="p-field p-col-6">
        <label for="telefono_contacto">Teléfono Contacto</label>
        <input pInputText id="telefono_contacto" [(ngModel)]="nuevoCliente.telefono_contacto"
          name="telefono_contacto" />
      </div>

      <div class="p-field p-col-8">
        <label for="direccion">Dirección</label>
        <input pInputText id="direccion" [(ngModel)]="nuevoCliente.direccion" name="direccion" />
      </div>

      <div class="p-field p-col-6">
        <label for="ciudad">Ciudad</label>
        <ng-select [items]="ciudades" bindLabel="label" bindValue="value" [(ngModel)]="nuevoCliente.ciudad"
          [ngModelOptions]="{ standalone: true }" placeholder="Seleccione una ciudad">
        </ng-select>
      </div>
    </div>

    <div class="p-dialog-footer">
      <button pButton type="submit" label="Guardar" class="p-button-success"></button>
      <button pButton type="button" label="Cancelar" class="p-button-secondary"
        (click)="dialogCliente = false"></button>
    </div>
  </form>
</p-dialog>

<!-- CREAR CONTACTO -->
<p-dialog [(visible)]="dialogForwader" [modal]="true" [style]="{ width: '60%' }" header="Crear Nuevo Forwader">
  <form (ngSubmit)="guardarForwader()" #form="ngForm">
    <div class="p-fluid p-grid p-formgrid">
      <div class="p-field p-col-6">
        <label for="nombre_comercial">Nombre Contacto</label>
        <input pInputText id="nombre_comercial" [(ngModel)]="nuevoForwader.nombre_comercial" name="nombre_comercial"
          (input)="nuevoForwader.nombre_comercial = nuevoForwader.nombre_comercial.toUpperCase()" />
      </div>

      <div class="p-field p-col-6">
        <label for="persona_contacto">Persona de Contacto</label>
        <input pInputText id="persona_contacto" [(ngModel)]="nuevoForwader.persona_contacto" name="persona_contacto" />
      </div>

      <div class="p-field p-col-6">
        <label for="correo_correocontacto">Correo Contacto</label>
        <input pInputText id="correo" [(ngModel)]="nuevoForwader.correo" name="correo" />
      </div>

      <div class="p-field p-col-6">
        <label for="telefono">Teléfono Contacto</label>
        <input pInputText id="telefono" [(ngModel)]="nuevoForwader.telefono" name="telefono" />
      </div>

      <div class="p-field p-col-6">
        <label for="ciudad">Ciudad</label>
        <ng-select [items]="ciudades" bindLabel="label" bindValue="value" [(ngModel)]="nuevoForwader.ciudad"
          [ngModelOptions]="{ standalone: true }" placeholder="Seleccione una ciudad">
        </ng-select>
      </div>
    </div>

    <div class="p-dialog-footer">
      <button pButton type="submit" label="Guardar" class="p-button-success"></button>
      <button pButton type="button" label="Cancelar" class="p-button-secondary"
        (click)="dialogForwader = false"></button>
    </div>
  </form>
</p-dialog>

<!-- CREAR MERCANCIA -->
<p-dialog [(visible)]="dialogMercancia" [modal]="true" [style]="{ width: '800px' }" header="Crear Nueva Mercancia">
  <form (ngSubmit)="guardarMercancia()" #form="ngForm">
    <div class="p-fluid p-grid p-formgrid">

      <div class="p-field p-col-4">
        <label for="placa">Mercancía</label>
        <input pInputText id="placa" [(ngModel)]="nuevaMercancia.mercancia" name="placa"
          (input)="nuevaMercancia.mercancia = nuevaMercancia.mercancia.toUpperCase()" />
      </div>

      <div class="p-field p-col-4">
        <label for="marca">Descripción</label>
        <input pInputText id="marca" [(ngModel)]="nuevaMercancia.descripcion" name="marca" />
      </div>

    </div>
    <div class="p-dialog-footer">
      <button pButton type="submit" label="Guardar" class="p-button-success"></button>
      <button pButton type="button" label="Cancelar" class="p-button-secondary"
        (click)="dialogMercancia = false"></button>
    </div>
  </form>
</p-dialog>

<!-- EDITAR DETALLE CONTENEDOR -->
<p-dialog header="Contenedor" [(visible)]="contenedorVisible" [modal]="true" [style]="{width: '650px'}">

  <fieldset class="d-flex flex-wrap mb-4 p-fluid" style="border-radius: 10px; border: 1px solid #ccc;">
    <legend>Datos del Contenedor</legend>

    <div class="p-1 flex-fill">
      <label>N° Contenedor</label>
      <input pInputText [(ngModel)]="contenedorActual.numero_contenedor">
    </div>

    <div class="p-1 flex-fill">
      <label>Tamaño</label>
      <input pInputText [(ngModel)]="contenedorActual.tamano">
    </div>

    <div class="p-1 flex-fill">
      <label>Peso KG</label>
      <input pInputText type="number" [(ngModel)]="contenedorActual.peso_kg">
    </div>

    <div class="p-1 flex-fill">
      <label>Mercancía</label>
      <ng-select [items]="mercancias" bindLabel="label" bindValue="value" [(ngModel)]="contenedorActual.id_mercancia"
        placeholder="Seleccione">
      </ng-select>
      <button pButton type="button" icon="ri-adds-line" class="p-button-success p-button-sm"
        style="height: 40px; padding: 0 8px;" (click)="crearMercancia()">
        <i class="ri-add-line" style="font-size: 1.2rem;"></i>
      </button>
    </div>

    <div class="p-1 flex-fill">
      <label>Embalaje</label>
      <input pInputText [(ngModel)]="contenedorActual.embalaje">
    </div>

    <div class="p-1 flex-fill">
      <label>Volumen m³</label>
      <input pInputText type="number" [(ngModel)]="contenedorActual.volumen_m3">
    </div>
  </fieldset>

  <p-footer>
    <button pButton label="Guardar" icon="pi pi-check" (click)="guardarContenedor()"></button>
  </p-footer>

</p-dialog>

<!-- EDITAR DETALLE CONTACTO CONSIGNATARIO -->
<p-dialog header="Contacto" [(visible)]="contactoConsignatarioVisible" [modal]="true" [style]="{width: '650px'}">

  <fieldset class="d-flex flex-wrap mb-4 p-fluid" style="border-radius: 10px; border: 1px solid #ccc;">
    <legend>Datos del Contacto</legend>

    <div class="p-1 flex-fill">
      <label>Nombre</label>
      <input pInputText [(ngModel)]="nuevoConsignatarioContacto.persona_contacto">
    </div>

    <div class="p-1 flex-fill">
      <label>Teléfono</label>
      <input pInputText [(ngModel)]="nuevoConsignatarioContacto.telefono_contacto">
    </div>

    <div class="p-1 flex-fill">
      <label>Correo</label>
      <input pInputText [(ngModel)]="nuevoConsignatarioContacto.correo_contacto">
    </div>
  </fieldset>

  <p-footer>
    <button pButton label="Guardar" icon="pi pi-check" (click)="guardarConsignatarioContacto()"></button>
  </p-footer>

</p-dialog>

<!-- EDITAR DETALLE CONTACTO FORWARDER -->
<p-dialog header="Contacto" [(visible)]="contactoForwarderVisible" [modal]="true" [style]="{width: '650px'}">

  <fieldset class="d-flex flex-wrap mb-4 p-fluid" style="border-radius: 10px; border: 1px solid #ccc;">
    <legend>Datos del Contacto</legend>

    <div class="p-1 flex-fill">
      <label>Nombre</label>
      <input pInputText [(ngModel)]="nuevoForwarderContacto.persona_contacto">
    </div>

    <div class="p-1 flex-fill">
      <label>Teléfono</label>
      <input pInputText [(ngModel)]="nuevoForwarderContacto.telefono_contacto">
    </div>

    <div class="p-1 flex-fill">
      <label>Correo</label>
      <input pInputText [(ngModel)]="nuevoForwarderContacto.correo_contacto">
    </div>
  </fieldset>

  <p-footer>
    <button pButton label="Guardar" icon="pi pi-check" (click)="guardarForwarderContacto()"></button>
  </p-footer>

</p-dialog>