label, input {
    display: inline-block;
    vertical-align: middle;
}
input {
    height: 35px;
}
label {
    margin-right: 10px;
}
.input-container {
    padding-top: 0.5%;
}
.checkbox-container {
    display: flex;
    gap: 15px;
    align-items: center;
}
:host ::ng-deep .form-group {
    display: flex;
    align-items: center;
}
:host ::ng-deep .form-group label {
    margin: 0;
    padding: 0;
}
:host ::ng-deep .form-group .p-checkbox {
    margin: 0;
}
:host ::ng-deep .radio-group {
    display: flex;
    align-items: center;
}
:host ::ng-deep .radio-group label {
    margin-left: 0.5rem;
}
:host ::ng-deep .radio-group .p-radiobutton {
    margin: 0;
}
/*
.card-body {
    max-height: 450px;
    overflow-y: auto;
}*/
#inputDescricpion{
    width: 70%;
}

.p-dialog-content .p-formgrid {
    margin-top: 20px;
}

.p-formgrid .p-field {
    margin-bottom: 15px;
}

.p-dialog-content .p-field label {
    font-weight: normal;
}

.p-dialog-content .p-field input {
    width: 100%;
}

.responsive-calendar {
    width: 100%;
    max-width: 400px;
    /* Ajusta esto según sea necesario */
}

.p-inputtext {
  text-transform: uppercase;
}

.fecha-vencida {
  background-color: #f8d7da; /* rojo claro */
  color: #721c24; /* texto rojo oscuro */
  font-weight: bold;
}

.fecha-pre-vencida {
  background-color: #f8f5d7 !important;
  color: #71721c !important;
  font-weight: bold;
}


.vencido {
  background-color: #ffe5e5; /* Fondo rosado claro */
  border: 1px solid #d32f2f; /* Borde rojo */
  color: #d32f2f;            /* Texto rojo */
}

.input-error {
  border: 1px solid red !important;
  box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.25);
}

.vibrar {
  animation: vibrar 0.3s linear;
}

@keyframes vibrar {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
    
pInputText:placeholder-shown {
  border: solid 2px red; /* Color del placeholder */
}

.flex-container {
  display: flex;
}

.divadd {
  display: flex;
  align-items: center; /* centra verticalmente */
  gap: 8px;            /* espacio entre input y botón */
  width: 100%;         /* para que ocupe todo el ancho del contenedor padre */
}

.input-full {
  flex: 1;             /* hace que el autocomplete crezca */
}