label, input {
    display: inline-block;
    vertical-align: middle;
}
input {
    height: 35px;
}
label {
    margin-right: 10px;
}
.input-container {
    padding-top: 0.5%;
}
.checkbox-container {
    display: flex;
    gap: 15px;
    align-items: center;
}
:host ::ng-deep .form-group {
    display: flex;
    align-items: center;
}
:host ::ng-deep .form-group label {
    margin: 0;
    padding: 0;
}
:host ::ng-deep .form-group .p-checkbox {
    margin: 0;
}
:host ::ng-deep .radio-group {
    display: flex;
    align-items: center;
}
:host ::ng-deep .radio-group label {
    margin-left: 0.5rem;
}
:host ::ng-deep .radio-group .p-radiobutton {
    margin: 0;
}
/*
.card-body {
    max-height: 450px;
    overflow-y: auto;
}*/
#inputDescricpion{
    width: 70%;
}

.p-dialog-content .p-formgrid {
    margin-top: 20px;
}

.p-formgrid .p-field {
    margin-bottom: 15px;
}

.p-dialog-content .p-field label {
    font-weight: normal;
}

.p-dialog-content .p-field input {
    width: 100%;
}

.responsive-calendar {
    width: 100%;
    max-width: 400px;
    /* Ajusta esto según sea necesario */
}

.p-inputtext {
  text-transform: uppercase;
}

.fecha-vencida {
  background-color: #f8d7da; /* rojo claro */
  color: #721c24; /* texto rojo oscuro */
  font-weight: bold;
}

.fecha-pre-vencida {
  background-color: #f8f5d7 !important;
  color: #71721c !important;
  font-weight: bold;
}


.vencido {
  background-color: #ffe5e5; /* Fondo rosado claro */
  border: 1px solid #d32f2f; /* Borde rojo */
  color: #d32f2f;            /* Texto rojo */
}

.input-error {
  border: 1px solid red !important;
  box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.25);
}

.vibrar {
  animation: vibrar 0.3s linear;
}

@keyframes vibrar {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
    
pInputText:placeholder-shown {
  border: solid 2px red; /* Color del placeholder */
}

.flex-container {
  display: flex;
}

.divadd {
  display: flex;
  align-items: center; /* centra verticalmente */
  gap: 8px;            /* espacio entre input y botón */
  width: 100%;         /* para que ocupe todo el ancho del contenedor padre */
}

.input-full {
  flex: 1;             /* hace que el autocomplete crezca */
}

.resaltatabla tr:hover {
  background-color: #f0fff2;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cotizacion-aceptada {
  background-color: #d7f8da !important;
  color: #2255e4 !important;
  font-weight: bold;
}

.chip {
  display: inline-flex;
  align-items: center;
  background: #e0f2e0;
  border-radius: 20px;
  padding: 4px 10px;
  margin: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  border: 1px solid #b2dfbd;
  white-space: normal !important;
}

.chip:hover {
  background: #b2dfbc;
}

.chip .remove {
  font-size: 1.5rem;     /* tamaño más grande */
  padding-left: 8px;
  cursor: pointer;
  color: #c0392b;
  display: flex;
  align-items: center;
}

.chip .remove:hover {
  color: #e74c3c;
}

::ng-deep .tabla-popup thead > tr > th {
  background-color: #1a7e1f !important;
  color: white !important;
}

::ng-deep .tabla-popup tbody > tr {
  background-color: #f3f4f6 !important;
}

::ng-deep .tabla-popup tbody > tr:hover {
  background-color: #c5cae9 !important;
}

::ng-deep .tabla-popup td,
::ng-deep .tabla-popup th {
  padding: 10px !important;
  font-size: 14px;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.chip_flete {
  display: flex;
  flex-direction: column !important; /* fuerza columna */
  justify-content: flex-start;
  width: 200px;                      /* opcional */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.chip-title {
  margin-bottom: 6px;
  display: block;
}

.chip_flete input {
  display: block !important; /* fuerza a que no se ponga al lado */
  width: 100%;
}