label, input {
    display: inline-block;
    vertical-align: middle;
}
input {
    height: 35px;
}
label {
    margin-right: 10px;
}
.input-container {
    padding-top: 0.5%;
}
.checkbox-container {
    display: flex;
    gap: 15px;
    align-items: center;
}
:host ::ng-deep .form-group {
    display: flex;
    align-items: center;
}
:host ::ng-deep .form-group label {
    margin: 0;
    padding: 0;
}
:host ::ng-deep .form-group .p-checkbox {
    margin: 0;
}
:host ::ng-deep .radio-group {
    display: flex;
    align-items: center;
}
:host ::ng-deep .radio-group label {
    margin-left: 0.5rem;
}
:host ::ng-deep .radio-group .p-radiobutton {
    margin: 0;
}
/*
.card-body {
    max-height: 450px;
    overflow-y: auto;
}*/
#inputDescricpion{
    width: 70%;
}

.p-dialog-content .p-formgrid {
    margin-top: 20px;
}

.p-formgrid .p-field {
    margin-bottom: 15px;
}

.p-dialog-content .p-field label {
    font-weight: normal;
}

.p-dialog-content .p-field input {
    width: 100%;
}

.responsive-calendar {
    width: 100%;
    max-width: 400px;
    /* Ajusta esto según sea necesario */
}

.p-inputtext {
  text-transform: uppercase;
}

.fecha-vencida {
  background-color: #f8d7da !important;
  color: #721c24 !important;
  font-weight: bold;
}

.fecha-pre-vencida {
  background-color: #f8f5d7 !important;
  color: #71721c !important;
  font-weight: bold;
}

.fecha-devuelto {
  background-color: #d7f8e5 !important;
  color: #1c7236 !important;
  font-weight: bold;
}

.input-error {
  border: 1px solid red !important;
  box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.25);
}

.vibrar {
  animation: vibrar 0.3s linear;
}

@keyframes vibrar {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

::ng-deep .ng-dropdown-panel {
  z-index: 999999 !important; /* más alto que el p-dialog */
}

.faltante {
  color: rgb(255, 0, 0);
  font-weight: bold;
}

img {
  max-width: 80%;
  max-height: 150px;
  object-fit: contain;
}

.dialog-fullscreen .p-dialog-content {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-img-container {
  max-height: 90vh; /* ocupa como máximo el 90% de la altura de la pantalla */
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* mantiene proporción sin recortar */
}
