<p-tabView
  [(activeIndex)]="activeIndex"
  
  (onChange)="onTabAnioChange($event)"
  
>
  <p-tabPanel
    *ngFor="let anio of aniosDisponibles"
    [header]="anio.toString()">
  
<div class="p-mb-3 d-flex flex-wrap gap-2">
  <button pButton type="button" icon="pi pi-plus" label="Nuevo Despacho" (click)="abrirNuevoDespacho()"
    class="p-button-success"></button>

  <button pButton type="button" icon="pi pi-file-pdf" label="Generar PDF" (click)="exportarDespachosPDF()"
    class="p-button-secondary"></button>

  <button pButton type="button" icon="pi pi-file-excel" label="Exportar Excel" (click)="exportarDespachosExcel()"
    class="p-button-secondary"></button>

  <button pButton type="button"
    [label]="mostrarTabla ? 'Ver como tabla' : 'Ver como tarjetas'" (click)="alternarVista()"
    [icon]="mostrarTabla ? 'pi pi-th-large' : 'pi pi-table'"></button>

  <button pButton type="button" (click)="ordenarDatos()"
    [label]="ordenAscendente ? 'Orden Ascendente' : 'Orden Descendente'"
    [icon]="ordenAscendente ?  'ri-arrow-up-line' : 'ri-arrow-down-line'"></button>

  <button pButton type="button" label="Limpiar filtros" (click)="limpiarFiltros()"
    icon="pi pi-filter-slash"></button>
    <!-- <ng-select [items]="aniosDisponibles" bindLabel="label" bindValue="value" 
          [(ngModel)]="filtroAnioCarga" [ngModelOptions]="{ standalone: true }"
          placeholder="Año carga">
        </ng-select> -->
    
<button
  pButton
  type="button"
  icon="pi pi-times"
  class="p-button-text p-button-sm"
  (click)="filtroAnioCarga = null">
</button>
</div>
</p-tabPanel>
</p-tabView>

<div *ngIf="mostrarTabla" class="card p-3 mb-3 shadow-sm">

  <div class="form-grid">
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroCliente" placeholder="Cliente" /> -->
      <p-autoComplete [(ngModel)]="clienteSeleccionado" [suggestions]="clientesFiltrados"
        (completeMethod)="filtrarClientes($event)" (onSelect)="filtroCliente = $event.label" field="label"
        [dropdown]="true" [showClear]="true" (onClear)="filtroCliente = ''" [forceSelection]="false"
        placeholder="CLIENTE" styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroMercancia" placeholder="Mercancía" /> -->
      <p-autoComplete [(ngModel)]="mercanciaSeleccionada" [suggestions]="mercanciasFiltradas"
        (completeMethod)="filtrarMercancias($event)" (onSelect)="filtroMercancia = $event.label" field="label"
        [dropdown]="true" [showClear]="true" (onClear)="filtroMercancia = ''" [forceSelection]="false"
        placeholder="MERCANCÍA" styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroContenedor" placeholder="Contenedor" /> -->
      <p-autoComplete [(ngModel)]="contenedorSeleccionado" [suggestions]="contenedoresFiltrados"
        (completeMethod)="filtrarContenedores($event)" (onSelect)="filtroContenedor = $event" [dropdown]="true"
        [showClear]="true" (onClear)="filtroContenedor = ''" [forceSelection]="false" placeholder="CONTENEDOR"
        styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroTipoCarga" placeholder="Tipo Carga" /> -->
      <p-autoComplete [(ngModel)]="tipoCargaSeleccionada" [suggestions]="tiposCargaFiltrados"
        (completeMethod)="filtrarTiposCarga($event)" (onSelect)="filtroTipoCarga = $event.label" field="label"
        [dropdown]="true" [showClear]="true" (onClear)="filtroTipoCarga = ''" [forceSelection]="false"
        placeholder="TIPO DE CARGA" styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroDescripcion" placeholder="Descripción" /> -->
      <p-autoComplete [(ngModel)]="descripcionSeleccionada" [suggestions]="descripcionesFiltradas"
        (completeMethod)="filtrarDescripciones($event)" (onSelect)="filtroDescripcion = $event" [dropdown]="true"
        [showClear]="true" (onClear)="filtroDescripcion = ''" [forceSelection]="false" placeholder="DESCRIPCIÓN"
        styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <input type="text" pInputText [(ngModel)]="filtroBlMadre" placeholder="BL Madre" />
    </div>
    <div>
      <input type="date" pInputText [(ngModel)]="filtroFechaBlMadre" />
    </div>
    <div>
      <input type="text" pInputText [(ngModel)]="filtroBlHijo" placeholder="BL Hijo" />
    </div>
    <div>
      <input type="date" pInputText [(ngModel)]="filtroFechaBlHijo" />
    </div>
    <div>
      <input type="text" pInputText [(ngModel)]="filtroDam" placeholder="DAM" />
    </div>
    <div>
      <input type="date" pInputText [(ngModel)]="filtroFechaDam" />
    </div>
    <div>
      <input type="text" pInputText [(ngModel)]="filtroEmbalaje" placeholder="Embalaje" />
    </div>
    <div>
      <input type="number" pInputText [(ngModel)]="filtroPeso" placeholder="Peso" />
    </div>
    <div>
      <input type="number" pInputText [(ngModel)]="filtroVolumen" placeholder="Volumen" />
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroNaviera" placeholder="Naviera" /> -->
      <p-autoComplete [(ngModel)]="navieraSeleccionada" [suggestions]="navierasFiltradas"
        (completeMethod)="filtrarNavieras($event)" (onSelect)="filtroNaviera = $event.label" field="label"
        [dropdown]="true" [showClear]="true" (onClear)="filtroNaviera = ''" [forceSelection]="false"
        placeholder="NAVIERA" styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroOrigen" placeholder="Origen" /> -->
      <p-autoComplete [(ngModel)]="origenSeleccionado" [suggestions]="origenesFiltrados"
        (completeMethod)="filtrarOrigenes($event)" (onSelect)="filtroOrigen = $event.label" field="label"
        [dropdown]="true" [showClear]="true" (onClear)="filtroOrigen = ''" [forceSelection]="false" placeholder="ORIGEN"
        styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroDestino" placeholder="Destino" /> -->
      <p-autoComplete [(ngModel)]="destinoSeleccionado" [suggestions]="destinosFiltrados"
        (completeMethod)="filtrarDestinos($event)" (onSelect)="filtroDestino = $event.label" field="label"
        [dropdown]="true" [showClear]="true" (onClear)="filtroDestino = ''" [forceSelection]="false"
        placeholder="DESTINO" styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroDespachoPortuario" placeholder="Despacho Portuario" /> -->
      <p-autoComplete [(ngModel)]="despachoPortuarioSeleccionado" [suggestions]="despachosPortuariosFiltrados"
        (completeMethod)="filtrarDespachosPortuarios($event)" (onSelect)="filtroDespachoPortuario = $event"
        [dropdown]="true" [showClear]="true" (onClear)="filtroDespachoPortuario = ''" [forceSelection]="false"
        placeholder="DESPACHO PORTUARIO" styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroDespachoAduanero" placeholder="Despacho Aduanero" /> -->
      <p-autoComplete [(ngModel)]="despachoAduaneroSeleccionado" [suggestions]="despachosAduanerosFiltrados"
        (completeMethod)="filtrarDespachosAduaneros($event)" (onSelect)="filtroDespachoAduanero = $event"
        [dropdown]="true" [showClear]="true" (onClear)="filtroDespachoAduanero = ''" [forceSelection]="false"
        placeholder="DESPACHO ADUANERO" styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroDespachoAduaneroGeneral"
        placeholder="Despacho Aduanero General" /> -->
      <p-autoComplete [(ngModel)]="despachoAduaneroGeneralSeleccionado"
        [suggestions]="despachosAduanerosGeneralesFiltrados"
        (completeMethod)="filtrarDespachosAduanerosGenerales($event)"
        (onSelect)="filtroDespachoAduaneroGeneral = $event" [dropdown]="true" [showClear]="true"
        (onClear)="filtroDespachoAduaneroGeneral = ''" [forceSelection]="false" placeholder="DESPACHO ADUANERO GENERAL"
        styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroDepositoAduanero" placeholder="Depósito Aduanero" /> -->
      <p-autoComplete [(ngModel)]="depositoAduaneroSeleccionado" [suggestions]="depositosAduanerosFiltrados"
        (completeMethod)="filtrarDepositosAduaneros($event)" (onSelect)="filtroDepositoAduanero = $event"
        [dropdown]="true" [showClear]="true" (onClear)="filtroDepositoAduanero = ''" [forceSelection]="false"
        placeholder="DEPÓSITO ADUANERO" styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroAsignacionCarga" placeholder="Asignación Carga" /> -->
      <p-autoComplete [(ngModel)]="asignacionCargaSeleccionada" [suggestions]="asignacionesCargaFiltradas"
        (completeMethod)="filtrarAsignacionesCarga($event)" (onSelect)="filtroAsignacionCarga = $event"
        [dropdown]="true" [showClear]="true" (onClear)="filtroAsignacionCarga = ''" [forceSelection]="false"
        placeholder="ASIGNACIÓN DE CARGA" styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="date" pInputText [(ngModel)]="filtroFechaCarga" /> -->
    </div>
    <div>
      <p-autoComplete [(ngModel)]="estadoSeleccionado" [suggestions]="estadosFiltrados"
        (completeMethod)="filtrarEstados($event)" (onSelect)="filtroEstado = $event.label" field="label"
        [dropdown]="true" [showClear]="true" (onClear)="filtroEstado = ''" [forceSelection]="false" placeholder="ESTADO"
        styleClass="w-150">
      </p-autoComplete>
    </div>
  </div>
</div>


<p-table *ngIf="!mostrarTabla" [value]="despachosFiltrados" [tableStyle]="{ 'min-width': '75rem' }" [scrollable]="true"
  scrollHeight="600px">
  <ng-template pTemplate="header">
    <tr>
      <th>Cliente</th>
      <th>Mercancía</th>
      <th>Contenedor</th>
      <th>Tipo Carga</th>
      <th>Descripción Carga</th>
      <th>BL Madre</th>
      <th>Fecha BL Madre</th>
      <th>BL Hijo</th>
      <th>Fecha BL Hijo</th>
      <th>DAM</th>
      <th>Fecha DAM</th>
      <th>Embalaje</th>
      <th>Peso (kg)</th>
      <th>Volumen (m³)</th>
      <th>Naviera</th>
      <th>Nombre del Barco</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Despacho Portuario</th>
      <th>Despacho Aduanero</th>
      <th>Despacho Aduanero General</th>
      <th>Depósito Aduanero</th>
      <th>Asignación Carga</th>
      <th>Fecha Carga</th>
      <!-- <th>Asignación Descarga</th>
      <th>Fecha Descarga</th> -->
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    <tr>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroCliente" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="clienteSeleccionado" [suggestions]="clientesFiltrados"
          (completeMethod)="filtrarClientes($event)" (onSelect)="filtroCliente = $event.label" field="label"
          [dropdown]="true" [showClear]="true" (onClear)="filtroCliente = ''" [forceSelection]="false"
          placeholder="Buscar cliente" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroMercancia" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="mercanciaSeleccionada" [suggestions]="mercanciasFiltradas"
          (completeMethod)="filtrarMercancias($event)" (onSelect)="filtroMercancia = $event.label" field="label"
          [dropdown]="true" [showClear]="true" (onClear)="filtroMercancia = ''" [forceSelection]="false"
          placeholder="Buscar mercancía" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroContenedor" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="contenedorSeleccionado" [suggestions]="contenedoresFiltrados"
          (completeMethod)="filtrarContenedores($event)" (onSelect)="filtroContenedor = $event" [dropdown]="true"
          [showClear]="true" (onClear)="filtroContenedor = ''" [forceSelection]="false" placeholder="Buscar contenedor"
          styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroTipoCarga" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="tipoCargaSeleccionada" [suggestions]="tiposCargaFiltrados"
          (completeMethod)="filtrarTiposCarga($event)" (onSelect)="filtroTipoCarga = $event.label" field="label"
          [dropdown]="true" [showClear]="true" (onClear)="filtroTipoCarga = ''" [forceSelection]="false"
          placeholder="Buscar tipo de carga" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroDescripcion" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="descripcionSeleccionada" [suggestions]="descripcionesFiltradas"
          (completeMethod)="filtrarDescripciones($event)" (onSelect)="filtroDescripcion = $event" [dropdown]="true"
          [showClear]="true" (onClear)="filtroDescripcion = ''" [forceSelection]="false"
          placeholder="Buscar descripción" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <input type="text" pInputText [(ngModel)]="filtroBlMadre" style="width: 100%;" />
      </th>
      <th>
        <input type="date" pInputText [(ngModel)]="filtroFechaBlMadre" style="width: 100%;" />
      </th>
      <th>
        <input type="text" pInputText [(ngModel)]="filtroBlHijo" style="width: 100%;" />
      </th>
      <th>
        <input type="date" pInputText [(ngModel)]="filtroFechaBlHijo" style="width: 100%;" />
      </th>
      <th>
        <input type="text" pInputText [(ngModel)]="filtroDam" style="width: 100%;" />
      </th>
      <th>
        <input type="date" pInputText [(ngModel)]="filtroFechaDam" style="width: 100%;" />
      </th>
      <th>
        <input type="text" pInputText [(ngModel)]="filtroEmbalaje" style="width: 100%;" />
      </th>
      <th>
        <input type="number" pInputText [(ngModel)]="filtroPeso" style="width: 100%;" />
      </th>
      <th>
        <input type="number" pInputText [(ngModel)]="filtroVolumen" style="width: 100%;" />
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroNaviera" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="navieraSeleccionada" [suggestions]="navierasFiltradas"
          (completeMethod)="filtrarNavieras($event)" (onSelect)="filtroNaviera = $event.label" field="label"
          [dropdown]="true" [showClear]="true" (onClear)="filtroNaviera = ''" [forceSelection]="false"
          placeholder="Buscar naviera" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th></th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroOrigen" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="origenSeleccionado" [suggestions]="origenesFiltrados"
          (completeMethod)="filtrarOrigenes($event)" (onSelect)="filtroOrigen = $event.label" field="label"
          [dropdown]="true" [showClear]="true" (onClear)="filtroOrigen = ''" [forceSelection]="false"
          placeholder="Buscar origen" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroDestino" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="destinoSeleccionado" [suggestions]="destinosFiltrados"
          (completeMethod)="filtrarDestinos($event)" (onSelect)="filtroDestino = $event.label" field="label"
          [dropdown]="true" [showClear]="true" (onClear)="filtroDestino = ''" [forceSelection]="false"
          placeholder="Buscar destino" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroDespachoPortuario" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="despachoPortuarioSeleccionado" [suggestions]="despachosPortuariosFiltrados"
          (completeMethod)="filtrarDespachosPortuarios($event)" (onSelect)="filtroDespachoPortuario = $event"
          [dropdown]="true" [showClear]="true" (onClear)="filtroDespachoPortuario = ''" [forceSelection]="false"
          placeholder="Buscar despacho portuario" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroDespachoAduanero" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="despachoAduaneroSeleccionado" [suggestions]="despachosAduanerosFiltrados"
          (completeMethod)="filtrarDespachosAduaneros($event)" (onSelect)="filtroDespachoAduanero = $event"
          [dropdown]="true" [showClear]="true" (onClear)="filtroDespachoAduanero = ''" [forceSelection]="false"
          placeholder="Buscar despacho aduanero" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroDespachoAduaneroGeneral" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="despachoAduaneroGeneralSeleccionado"
          [suggestions]="despachosAduanerosGeneralesFiltrados"
          (completeMethod)="filtrarDespachosAduanerosGenerales($event)"
          (onSelect)="filtroDespachoAduaneroGeneral = $event" [dropdown]="true" [showClear]="true"
          (onClear)="filtroDespachoAduaneroGeneral = ''" [forceSelection]="false"
          placeholder="Buscar despacho aduanero general" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroDepositoAduanero" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="depositoAduaneroSeleccionado" [suggestions]="depositosAduanerosFiltrados"
          (completeMethod)="filtrarDepositosAduaneros($event)" (onSelect)="filtroDepositoAduanero = $event"
          [dropdown]="true" [showClear]="true" (onClear)="filtroDepositoAduanero = ''" [forceSelection]="false"
          placeholder="Buscar depósito aduanero" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroAsignacionCarga" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="asignacionCargaSeleccionada" [suggestions]="asignacionesCargaFiltradas"
          (completeMethod)="filtrarAsignacionesCarga($event)" (onSelect)="filtroAsignacionCarga = $event"
          [dropdown]="true" [showClear]="true" (onClear)="filtroAsignacionCarga = ''" [forceSelection]="false"
          placeholder="Buscar asignación de carga" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <input type="date" pInputText [(ngModel)]="filtroFechaCarga" style="width: 100%;" />
      </th>
      <!-- <th>
    <input type="text" pInputText [(ngModel)]="filtroAsignacionDescarga" style="width: 100%;"/>
  </th> -->
      <!-- <th>
    <input type="date" pInputText [(ngModel)]="filtroFechaDescarga" style="width: 100%;"/>
  </th> -->
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroEstado" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="estadoSeleccionado" [suggestions]="estadosFiltrados"
          (completeMethod)="filtrarEstados($event)" (onSelect)="filtroEstado = $event.label" field="label"
          [dropdown]="true" [showClear]="true" (onClear)="filtroEstado = ''" [forceSelection]="false"
          placeholder="Buscar estado" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-despacho>
    <tr [ngClass]="estiloFila(despacho)">
      <td>{{ getClienteNombre(despacho.id_cliente) }}</td>
      <td>{{ getMercanciaNombre(despacho.id_mercancia) }}</td>
      <td>{{ despacho.numero_contenedor }}</td>
      <td>{{ despacho.id_tipo_carga }}</td>
      <td>{{ despacho.descripcion_carga }}</td>
      <td>{{ despacho.bl_madre }}</td>
      <td>{{ despacho.fecha_bl_madre | date:'yyyy-MM-dd' }}</td>
      <td>{{ despacho.bl_hijo }}</td>
      <td>{{ despacho.fecha_bl_hijo | date:'yyyy-MM-dd' }}</td>
      <td>{{ despacho.dam }}</td>
      <td>{{ despacho.fecha_dam | date:'yyyy-MM-dd' }}</td>
      <td>{{ despacho.embalaje }}</td>
      <td>{{ despacho.peso_kg }}</td>
      <td>{{ despacho.volumen_m3 }}</td>
      <td>{{ getNavieraNombre(despacho.id_naviera) }}</td>
      <td>{{ despacho.nombre_barco }}</td>
      <td>{{ getCiudadNombre(despacho.id_ciudad_origen) }}</td>
      <td>{{ getCiudadNombre(despacho.id_ciudad_destino) }}</td>
      <td>{{ despacho.id_despacho_portuario }}</td>
      <td>{{ despacho.id_despacho_aduanero }}</td>
      <td>{{ despacho.id_despacho_aduanero_general }}</td>
      <td>{{ despacho.id_deposito_aduanero }}</td>
      <td>{{ getVehiculoNombre(despacho.id_asignacion_vehiculo_carga) }}</td>
      <td>{{ despacho.fecha_carga | date:'yyyy-MM-dd' }}</td>
      <!-- <td>{{ getVehiculoNombre(despacho.id_asignacion_vehiculo_descarga) }}</td> -->
      <!-- <td>{{ despacho.fecha_descarga | date:'yyyy-MM-dd' }}</td> -->
      <td>{{ despacho.estado }}</td>
      <td class="text-center d-flex justify-content-center gap-2">
        <button class="btn btn-sm btn-outline-info" (click)="editarDespacho(despacho)">
          <i class="pi pi-pencil"></i> Editar
        </button>
        <button class="btn btn-sm btn-outline-danger" (click)="eliminarDespacho(despacho)">
          <i class="pi pi-trash"></i> Eliminar
        </button>
      </td>

    </tr>
  </ng-template>
</p-table>

<div id="contenedor-despachos">
  <p-dataView *ngIf="mostrarTabla" [value]="despachosFiltrados" layout="list">
    <ng-template #cardDespacho let-despacho let-index="rowIndex" pTemplate="listItem">
      <div id="despacho-{{index}}" class="p-3 border rounded mb-3 shadow-sm" [ngClass]="estiloFila(despacho)">
        <div class="d-flex justify-content-between align-items-start mb-2">
          <div>
            <div class="fs-4"><b>Cliente:</b> {{ getClienteNombre(despacho.id_cliente) + (despacho.forwader ? ' (' + despacho.forwader + ')': '') }}</div>
          </div>
          <div class="fs-3">
            <b>{{ getVehiculoPlaca(despacho.id_asignacion_vehiculo_carga) }}</b>
          </div>
          <div class="d-flex align-items-center gap-2">


            <div class="fs-5">
              <b>ESTADO:</b> {{ despacho.estado }}
            </div>

            <button class="btn btn-sm btn-outline-info me-2" (click)="editarDespacho(despacho)">
              <i class="pi pi-pencil"></i> Editar
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="eliminarDespacho(despacho)">
              <i class="pi pi-trash"></i> Eliminar
            </button>
            <button class="btn btn-sm btn-outline-success" (click)="generarImagenDespacho(despacho, index)">
              <i class="pi pi-trash"></i> Imprimir
            </button>
          </div>
        </div>

        <hr class="my-2" />
        <div class="d-grid" style="grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 8px;">

          <div [ngClass]="{'faltante': !despacho.id_tipo_carga}"><b>Tipo Carga:</b> {{ despacho.id_tipo_carga }}</div>
          <div><b>Contenedor:</b> {{ despacho.numero_contenedor }}</div>
          <div [ngClass]="{'faltante': !despacho.descripcion_carga}"><b>Tamaño:</b> {{ despacho.descripcion_carga }}
          </div>
          <div [ngClass]="{'faltante': !despacho.id_naviera}"><b>Naviera:</b> {{ getNavieraNombre(despacho.id_naviera)
            }}
          </div>
          <div [ngClass]="{'faltante': !despacho.nombre_barco}"><b>Nombre del Barco:</b> {{ despacho.nombre_barco }}</div>
          <div *ngIf="getNavieraNombre(despacho.id_naviera) === 'MSC'" [ngClass]="{'faltante': !despacho.id_naviera}">
            <b>Autorizado:</b> {{ despacho.autorizado ? 'Sí' : 'No' }}
          </div>

          <div [ngClass]="{'faltante': !despacho.peso_kg}"><b>Peso (kg):</b> {{ despacho.peso_kg }}</div>
          <div [ngClass]="{'faltante': !despacho.volumen_m3}"><b>Volumen (m³):</b> {{ despacho.volumen_m3 }}</div>
          <div [ngClass]="{'faltante': !despacho.id_mercancia}"><b>Mercancía:</b> {{
            getMercanciaNombre(despacho.id_mercancia) }}</div>

          <div [ngClass]="{'faltante': !despacho.embalaje}"><b>Embalaje:</b> {{ despacho.embalaje }}</div>
          <div [ngClass]="{'faltante': !despacho.id_ciudad_origen}"><b>Origen:</b> {{
            getCiudadNombre(despacho.id_ciudad_origen) }}</div>
          <div [ngClass]="{'faltante': !despacho.id_ciudad_destino}"><b>Destino:</b> {{
            getCiudadNombre(despacho.id_ciudad_destino) }}</div>

          <div [ngClass]="{'faltante': !despacho.fecha_llegada}"><b>Fecha Llegada:</b> {{ despacho.fecha_llegada |
            date:'yyyy-MM-dd' }}</div>
          <div [ngClass]="{'faltante': !despacho.fecha_limite}"><b>Fecha Límite:</b> {{ despacho.fecha_limite |
            date:'yyyy-MM-dd' }}</div>

          <div *ngIf="getCiudadNombre(despacho.id_ciudad_origen) === 'ARICA' "
            [ngClass]="{'faltante': !despacho.id_despacho_portuario}"><b>Despacho Portuario:</b> {{
            despacho.id_despacho_portuario }}</div>
          <div [ngClass]="{'faltante': !despacho.id_despacho_aduanero}"><b>Despacho Aduanero:</b> {{
            despacho.id_despacho_aduanero }}</div>
          <div *ngIf="despacho.id_despacho_aduanero === 'GENERAL'"
            [ngClass]="{'faltante': !despacho.id_despacho_aduanero_general}"><b>Despacho Aduanero General:</b> {{
            despacho.id_despacho_aduanero_general }}</div>
          <div [ngClass]="{'faltante': !despacho.id_deposito_aduanero}"><b>Deposito Aduanero:</b> {{
            despacho.id_deposito_aduanero }}</div>

          <!-- BL Madre -->
          <div *ngIf="despacho.bl_madre && !despacho.bl_hijo && !despacho.bl_nieto"
            [ngClass]="{'faltante': !despacho.bl_madre}">
            <b>BL Madre:</b> {{ despacho.bl_madre }}
          </div>
          <div *ngIf="despacho.bl_madre && !despacho.bl_hijo && !despacho.bl_nieto"
            [ngClass]="{'faltante': !despacho.fecha_bl_madre}">
            <b>Fecha BL Madre:</b> {{ despacho.fecha_bl_madre | date:'yyyy-MM-dd' }}
          </div>

          <!-- BL Hijo -->
          <div *ngIf="despacho.bl_hijo && !despacho.bl_nieto" [ngClass]="{'faltante': !despacho.bl_hijo}">
            <b>BL Hijo:</b> {{ despacho.bl_hijo }}
          </div>
          <div *ngIf="despacho.bl_hijo && !despacho.bl_nieto" [ngClass]="{'faltante': !despacho.fecha_bl_hijo}">
            <b>Fecha BL Hijo:</b> {{ despacho.fecha_bl_hijo | date:'yyyy-MM-dd' }}
          </div>

          <!-- BL Nieto -->
          <div *ngIf="despacho.bl_nieto" [ngClass]="{'faltante': !despacho.bl_nieto}">
            <b>BL Nieto:</b> {{ despacho.bl_nieto }}
          </div>
          <div *ngIf="despacho.bl_nieto" [ngClass]="{'faltante': !despacho.fecha_bl_nieto}">
            <b>Fecha BL Nieto:</b> {{ despacho.fecha_bl_nieto | date:'yyyy-MM-dd' }}
          </div>

          <div [ngClass]="{'faltante': !despacho.dam}"><b>DAM:</b> {{ despacho.dam }}</div>
          <div [ngClass]="{'faltante': !despacho.fecha_dam}"><b>Fecha DAM:</b> {{ despacho.fecha_dam | date:'yyyy-MM-dd'
            }}</div>

          <div *ngIf="!despacho.id_asignacion_vehiculo_carga"
            [ngClass]="{'faltante': !despacho.id_preasignacion_vehiculo_carga}"><b>Preasignación Carga:</b> {{
            getVehiculoNombre(despacho.id_preasignacion_vehiculo_carga) }}</div>
          <div [ngClass]="{'faltante': !despacho.id_asignacion_vehiculo_carga}"><b>Asignación Carga:</b> {{
            getVehiculoNombre(despacho.id_asignacion_vehiculo_carga) }}</div>
          <div [ngClass]="{'faltante': !despacho.fecha_carga}"><b>Fecha Carga:</b> {{ despacho.fecha_carga |
            date:'yyyy-MM-dd' }}</div>
          <!-- <div [ngClass]="{'faltante': !despacho.id_asignacion_vehiculo_descarga}"><b>Asignación Descarga:</b> {{ getVehiculoNombre(despacho.id_asignacion_vehiculo_descarga) }}</div>
  <div [ngClass]="{'faltante': !despacho.fecha_descarga}"><b>Fecha Descarga:</b> {{ despacho.fecha_descarga | date:'yyyy-MM-dd' }}</div> -->


          <!-- Descripción Adicional ocupa toda la fila -->
          <div style="grid-column: span 2; white-space: pre-wrap; word-break: break-word;">
            <b>Descripción Adicional:</b> {{ despacho.descripcion }}
          </div>
          <div *ngIf="getCiudadNombre(despacho.id_ciudad_origen) === 'ARICA'" style="grid-column: span 2; white-space: pre-wrap; word-break: break-word;">
            <b>DP:</b> {{ despacho.dp }}
          </div>
          <div *ngIf="despacho.precinto">
            <b>Precinto:</b> {{ despacho.precinto }}
          </div>
          <div *ngIf="despacho.precinto_dress">
            <b>Precinto DRES:</b> {{ despacho.precinto_dress }}
          </div>
          <div *ngIf="despacho.precinto_gog">
            <b>Precinto GOG:</b> {{ despacho.precinto_gog }}
          </div>
          <div *ngIf="getNavieraNombre(despacho.id_naviera) === 'MSC'"><b>Autorizado MSC:</b> {{ despacho.autorizado?
            'Sí' : 'No' }}</div>
          <div *ngIf="despacho.id_despacho_aduanero === 'ANTICIPADO'" [ngClass]="{'faltante': !despacho.dim}">
            <b>DIM:</b> {{ despacho.dim }}
          </div>
          <div *ngIf="despacho.id_despacho_aduanero === 'ANTICIPADO'" [ngClass]="{'faltante': !despacho.fecha_dim}">
            <b>Fecha DIM:</b> {{ despacho.fecha_dim | date:'yyyy-MM-dd'
            }}
          </div>
          <div><b>Lugar Entrega:</b> {{
            getCiudadNombre(despacho.lugar_entrega) }}</div>
          <div><b>Aduana Destino:</b> {{
            getAduana(despacho.aduana_destino) }}</div>
          <div *ngIf="despacho.despacho_agencia">
            <b>Agencia:</b> {{ despacho.despacho_agencia }}
          </div>
          <div *ngIf="despacho.despacho_nombre">
            <b>Agencia Nombre:</b> {{ despacho.despacho_nombre }}
          </div>
          <div *ngIf="despacho.despacho_telefono">
            <b>Agencia Teléfono:</b> {{ despacho.despacho_telefono }}
          </div>
        </div>

        <div class="d-flex flex-wrap gap-2 mt-3">
        <ng-container *ngFor="let gasto of tiposGasto">
          <label *ngIf="despacho['tiene_' + gasto.nombre.toLowerCase()]" class="btn btn-sm" [ngClass]="{
        'btn-success': despacho[gasto.nombre.toLowerCase()],
        'btn-outline-danger': !despacho[gasto.nombre.toLowerCase()]
      }" style="cursor: pointer;" for="file-{{despacho.id_despacho}}-{{gasto.id}}" title="Subir {{ gasto.nombre }}"
            (click)="verGasto(despacho, gasto)">
            {{ gasto.nombre }} <b>{{ despacho[gasto.nombre.toLowerCase()] }} Bs.</b><br>
            DEUDA {{ despacho['deuda_' + gasto.nombre.toLowerCase()] ? despacho['deuda_' +
            gasto.nombre.toLowerCase()] : 0 }} Bs.

          </label>
        </ng-container>
      </div>

        <div class="d-flex flex-wrap gap-2 mt-3">
          <ng-container *ngFor="let doc of getDocumentosFiltrados(despacho)">
            <label class="btn btn-sm" [ngClass]="{
        'btn-success': despacho.archivosSubidos?.includes(doc.id),
        'btn-outline-danger': !despacho.archivosSubidos?.includes(doc.id)
      }" style="cursor: pointer;" for="file-{{despacho.id_despacho}}-{{doc.id}}" title="Subir {{ doc.nombre }}"
              (click)="verPdfs(despacho, doc)">
              {{ doc.nombre }}
            </label>
          </ng-container>
        </div>
        <div *ngIf="esContravencion(despacho)" class="d-flex flex-wrap gap-2 mt-3">
          <label class="btn btn-sm" [ngClass]="{
        'btn-success': despacho.pago_dam,
        'btn-outline-danger': !despacho.pago_dam
      }" style="cursor: pointer;" for="pago_dam" title="pago_dam" (click)="verPdfsDAM(despacho)">
            <!-- (click)="guardarEstadoDespacho(despacho, !despacho.pago_dam)" -->
            Pago DAM
          </label>
        </div>

        <div class="d-flex justify-content-end mt-2">
          <span class="text-muted small">{{ observacionDespacho(despacho) }}</span>
        </div>
      </div>

    </ng-template>
  </p-dataView>
</div>

<div *ngIf="generando" class="overlay-carga">
  <div class="caja-carga">
    <i class="pi pi-spin pi-spinner" style="font-size: 3rem;"></i>
    <p class="mt-3">Generando imagen, por favor espere...</p>
  </div>
</div>

<p-dialog [(visible)]="popupVisible" [modal]="true" [style]="{ width: '80%' }" [header]="tituloPopup">
  <form (ngSubmit)="guardarCambios()" #form="ngForm">
    <div class="d-flex flex-wrap mb-4 p-fluid">
      <div class="p-2 flex-fill">
        <label for="id_cliente">Cliente</label>

        <ng-select [items]="clientes" bindLabel="label" bindValue="value" [(ngModel)]="despachoSeleccionado.id_cliente"
          [ngModelOptions]="{ standalone: true }" placeholder="Seleccione un cliente">
        </ng-select>
      </div>

      <div class="p-2 flex-fill">
        <label for="id_mercancia">Mercancía</label>

        <ng-select [items]="mercancias" bindLabel="label" bindValue="value"
          [(ngModel)]="despachoSeleccionado.id_mercancia" [ngModelOptions]="{ standalone: true }"
          placeholder="Seleccione una mercancía" [style.width.%]="100" [style.minWidth.px]="250">
        </ng-select>
      </div>

      <div class="p-2 flex-fill">
        <label for="id_tipo_carga">Tipo Carga</label>
        <p-selectButton [options]="tipo_carga" [(ngModel)]="despachoSeleccionado.id_tipo_carga" optionLabel="label"
          optionValue="value" [style]="{ width: '100%', height: '35px' }" [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="actualizarTipoCarga($event)"
          name="tipo_carga" />
      </div>

      <div *ngIf="!bloquearContenedor" class="p-2 flex-fill">
        <label for="numero_contenedor">Contenedor</label>
        <input pInputText id="numero_contenedor" [(ngModel)]="despachoSeleccionado.numero_contenedor"
          name="numero_contenedor" />
      </div>

      <div *ngIf="!bloquearTamano" class="p-2 flex-fill">
        <label for="descripcion_carga">Tamaño</label>
        <input pInputText id="descripcion_carga" [(ngModel)]="despachoSeleccionado.descripcion_carga"
          name="descripcion_carga" />
      </div>

      <div class="p-2 flex-fill">
        <label for="bl_madre">BL Madre</label>
        <input pInputText id="bl_madre" [(ngModel)]="despachoSeleccionado.bl_madre" name="bl_madre" />
      </div>

      <div class="p-2 flex-fill" style="min-width: 250px;">
        <label for="fecha_bl_madre">Fecha BL Madre</label>
        <p-calendar inputId="fecha_bl_madre" [(ngModel)]="despachoSeleccionado.fecha_bl_madre" name="fecha_bl_madre"
          dateFormat="yy-mm-dd" [showIcon]="true" [style]="{ width: '100%', height: '35px' }"
          [appendTo]="'body'"></p-calendar>
      </div>

      <div class="p-2 flex-fill">
        <label for="bl_hijo">BL Hijo</label>
        <input pInputText id="bl_hijo" [(ngModel)]="despachoSeleccionado.bl_hijo" name="bl_hijo" />
      </div>

      <div class="p-2 flex-fill" style="min-width: 250px;">
        <label for="fecha_bl_hijo">Fecha BL Hijo</label>
        <p-calendar inputId="fecha_bl_hijo" [(ngModel)]="despachoSeleccionado.fecha_bl_hijo" name="fecha_bl_hijo"
          dateFormat="yy-mm-dd" [showIcon]="true" [style]="{ width: '100%', height: '35px' }"
          [appendTo]="'body'"></p-calendar>
      </div>

      <div class="p-2 flex-fill">
        <label for="bl_nieto">BL Nieto</label>
        <input pInputText id="bl_nieto" [(ngModel)]="despachoSeleccionado.bl_nieto" name="bl_nieto" />
      </div>

      <div class="p-2 flex-fill" style="min-width: 250px;">
        <label for="fecha_bl_nieto">Fecha BL Nieto</label>
        <p-calendar inputId="fecha_bl_nieto" [(ngModel)]="despachoSeleccionado.fecha_bl_nieto" name="fecha_bl_nieto"
          dateFormat="yy-mm-dd" [showIcon]="true" [style]="{ width: '100%', height: '35px' }"
          [appendTo]="'body'"></p-calendar>
      </div>

      <div class="p-2 flex-fill">
        <label for="precinto">Precinto</label>
        <input pInputText id="precinto" [(ngModel)]="despachoSeleccionado.precinto" name="precinto" />
      </div>

      <div *ngIf="!bloquearPrecintoArica" class="p-2 flex-fill">
        <label for="precinto_gog">Precinto GOG</label>
        <input pInputText id="precinto_gog" [(ngModel)]="despachoSeleccionado.precinto_gog" name="precinto_gog" />
      </div>

      <div *ngIf="!bloquearPrecintoIquique" class="p-2 flex-fill">
        <label for="precinto_dress">Precinto DRESS</label>
        <input pInputText id="precinto_dress" [(ngModel)]="despachoSeleccionado.precinto_dress" name="precinto_dress" />
      </div>

      <div class="p-2 flex-fill">
        <label for="dam">DAM</label>
        <input pInputText id="dam" [(ngModel)]="despachoSeleccionado.dam" name="dam" />
      </div>

      <div class="p-2 flex-fill" style="min-width: 250px;">
        <label for="fecha_dam">Fecha DAM</label>
        <p-calendar inputId="fecha_dam" [(ngModel)]="despachoSeleccionado.fecha_dam" name="fecha_dam"
          dateFormat="yy-mm-dd" [showIcon]="true" [style]="{ width: '100%', height: '35px' }"
          [appendTo]="'body'"></p-calendar>
      </div>

      <div class="p-2 flex-fill">
        <label for="peso_kg">Peso KG</label>
        <input pInputText id="peso_kg" [(ngModel)]="despachoSeleccionado.peso_kg" name="peso_kg"
          (input)="numeros($event, 'peso_kg')" />
      </div>

      <div class="p-2 flex-fill">
        <label for="volumen_m3">Volumen m3</label>
        <input pInputText id="volumen_m3" [(ngModel)]="despachoSeleccionado.volumen_m3" name="volumen_m3"
          (input)="numeros($event, 'volumen_m3')" />
      </div>

      <div class="p-2 flex-fill">
        <label for="embalaje">Embalaje</label>
        <input pInputText id="embalaje" [(ngModel)]="despachoSeleccionado.embalaje" name="embalaje" />
      </div>

      <div class="p-2 w-100">
        <label for="id_naviera">Naviera</label>
        <p-selectButton [options]="navieras" [(ngModel)]="despachoSeleccionado.id_naviera" optionLabel="label"
          optionValue="value" [style]="{ width: '100%', height: '35px' }" [ngModelOptions]="{ standalone: true }"
          name="naviera" />
      </div>

      <div class="p-2 flex-fill">
        <label for="nombre_barco">Nombre del Barco</label>
        <input pInputText id="nombre_barco" [(ngModel)]="despachoSeleccionado.nombre_barco" name="nombre_barco" />
      </div>

      <div *ngIf="getNavieraNombre(despachoSeleccionado.id_naviera) == 'MSC'"
        class="p-2 flex-fill d-flex flex-column align-items-center">
        <label for="autorizado" class="mb-1">Autorizado MSC</label>
        <p-checkbox [(ngModel)]="despachoSeleccionado.autorizado" [binary]="true" inputId="autorizado"
          name="autorizado">
        </p-checkbox>
      </div>

      <div class="p-2 flex-fill">
        <label for="id_ciudad_origen">Ciudad Origen</label>
        <ng-select [items]="ciudades" bindLabel="label" bindValue="value" (ngModelChange)="actualizarOrigen($event)"
          [(ngModel)]="despachoSeleccionado.id_ciudad_origen" [ngModelOptions]="{ standalone: true }"
          placeholder="Seleccione una ciudad">
        </ng-select>
      </div>

      <div class="p-2 flex-fill">
        <label for="id_ciudad_destino">Ciudad Destino</label>
        <ng-select [items]="ciudades" bindLabel="label" bindValue="value"
          [(ngModel)]="despachoSeleccionado.id_ciudad_destino" [ngModelOptions]="{ standalone: true }"
          placeholder="Seleccione una ciudad">
        </ng-select>
      </div>

      <!-- (ngModelChange)="actualizarDespachoPortuario($event)"  -->
      <div *ngIf="bloquearOrigen" class="p-2 w-100">
        <label for="id_despacho_portuario">Tipo Despacho Portuario</label>
        <p-selectButton [options]="tipo_despacho_portuario" [(ngModel)]="despachoSeleccionado.id_despacho_portuario"
          optionLabel="label" optionValue="value" [style]="{ width: '100%', height: '35px' }"
          [ngModelOptions]="{ standalone: true }" name="tipo_despacho_portuario" />
      </div>

      <div class="p-2 w-100">
        <label for="id_despacho_aduanero">Despacho Aduanero</label>
        <p-selectButton [options]="tipo_despacho_aduanero" [(ngModel)]="despachoSeleccionado.id_despacho_aduanero"
          (ngModelChange)="actualizarDespacho($event)" optionLabel="label" optionValue="value"
          [style]="{ width: '100%', height: '35px' }" [ngModelOptions]="{ standalone: true }"
          name="despacho_aduanero" />
      </div>

      <div *ngIf="!bloquearDespachoGeneral" class="p-2 w-100">
        <label for="id_despacho_aduanero_general">Despacho Aduanero General</label>
        <p-selectButton [options]="tipo_despacho_aduanero_general"
          [(ngModel)]="despachoSeleccionado.id_despacho_aduanero_general" optionLabel="label" optionValue="value"
          [style]="{ width: '100%', height: '35px' }" [ngModelOptions]="{ standalone: true }"
          name="despacho_aduanero_general" />
      </div>

      <div class="p-2 w-100">
        <label for="id_deposito_aduanero">Deposito Aduanero</label>
        <p-selectButton [options]="tipo_deposito_aduanero" [(ngModel)]="despachoSeleccionado.id_deposito_aduanero"
          optionLabel="label" optionValue="value" [style]="{ width: '100%', height: '35px' }"
          [ngModelOptions]="{ standalone: true }" name="deposito_aduanero" />
      </div>

      <!-- Fecha Llegada -->
      <div class="p-2 flex-fill" style="min-width: 250px;">
        <label for="fecha_llegada">Fecha Llegada</label>
        <p-calendar inputId="fecha_llegada" [(ngModel)]="despachoSeleccionado.fecha_llegada" name="fecha_llegada"
          (ngModelChange)="calcularFechaLimite($event)" dateFormat="yy-mm-dd" [showIcon]="true"
          [style]="{ width: '100%', height: '35px' }" [appendTo]="'body'"></p-calendar>
      </div>

      <!-- Fecha Límite -->
      <div class="p-2 flex-fill" style="min-width: 250px;">
        <label for="fecha_limite">Fecha Límite</label>
        <p-calendar inputId="fecha_limite" [(ngModel)]="despachoSeleccionado.fecha_limite" name="fecha_limite"
          dateFormat="yy-mm-dd" [showIcon]="true" [style]="{ width: '100%', height: '35px' }" [appendTo]="'body'"
          [disabled]="true"></p-calendar>
      </div>

      <div class="p-2 flex-fill" style="min-width: 250px;">
        <label for="permisos">Tiene Permisos:</label>
        <p-checkbox inputId="permisos" name="permisos" [(ngModel)]="despachoSeleccionado.permisos"
          [binary]="true"></p-checkbox>
      </div>
      
      <div *ngIf="despachoSeleccionado.id_despacho_aduanero === 'ANTICIPADO'" class="p-2 flex-fill">
        <label for="dim">DIM</label>
        <input pInputText id="dim" [(ngModel)]="despachoSeleccionado.dim" name="dim" />
      </div>

      <div *ngIf="despachoSeleccionado.id_despacho_aduanero === 'ANTICIPADO'" class="p-2 flex-fill"
        style="min-width: 250px;">
        <label for="fecha_dim">Fecha DIM</label>
        <p-calendar inputId="fecha_dim" [(ngModel)]="despachoSeleccionado.fecha_dim" name="fecha_dim"
          dateFormat="yy-mm-dd" [showIcon]="true" [style]="{ width: '100%', height: '35px' }"
          [appendTo]="'body'"></p-calendar>
      </div>

      <div *ngIf="getCiudadNombre(despachoSeleccionado.id_ciudad_origen) === 'ARICA'" class="p-2 flex-fill">
        <label for="dp">DP</label>
        <input pInputText id="dp" [(ngModel)]="despachoSeleccionado.dp" name="dp" />
      </div>

      <div class="p-2 flex-fill">
        <label for="lugar_entrega">Lugar Entrega</label>
        <ng-select [items]="ciudades" bindLabel="label" bindValue="value"
          [(ngModel)]="despachoSeleccionado.lugar_entrega" [ngModelOptions]="{ standalone: true }"
          placeholder="Seleccione un lugar">
        </ng-select>
      </div>

      <div class="p-2 flex-fill">
        <label for="aduana_destino">Aduana Destino</label>
        <ng-select [items]="aduanas" bindLabel="label" bindValue="value"
          [(ngModel)]="despachoSeleccionado.aduana_destino" [ngModelOptions]="{ standalone: true }"
          placeholder="Seleccione una aduana destino">
        </ng-select>
      </div>

    </div>

    <fieldset class="d-flex flex-wrap mb-4 p-fluid" style="border-radius: 10px; border: 1px solid #ccc;">
      <legend>Agencia</legend>

      <div class="p-2 flex-fill">
        <label for="despacho_agencia">Agencia</label>
        <input pInputText id="despacho_agencia" [(ngModel)]="despachoSeleccionado.despacho_agencia"
          name="despacho_agencia" />
      </div>

      <div class="p-2 flex-fill">
        <label for="despacho_nombre">Nombre</label>
        <input pInputText id="despacho_nombre" [(ngModel)]="despachoSeleccionado.despacho_nombre"
          name="despacho_nombre" />
      </div>

      <div class="p-2 flex-fill">
        <label for="despacho_telefono">Teléfono</label>
        <input pInputText id="despacho_telefono" [(ngModel)]="despachoSeleccionado.despacho_telefono"
          name="despacho_telefono" />
      </div>
    </fieldset>

    <hr class="my-2" />
    <label for="archivo">PREASIGNACION</label>
    <div class="p-2 flex-fill">
      <label for="id_preasignacion_vehiculo_carga">Preasignacion Vehículo de Carga</label>
      <ng-select [items]="vehiculos" bindLabel="label" bindValue="value"
        [(ngModel)]="despachoSeleccionado.id_preasignacion_vehiculo_carga" [ngModelOptions]="{ standalone: true }"
        placeholder="Seleccione un vehículo">
      </ng-select>
    </div>
    <label for="archivo">ASIGNACION DE DESPACHO</label>
    <div class="d-flex flex-wrap mb-4 p-fluid">
      <div class="p-2 flex-fill">
        <label for="id_asignacion_vehiculo_carga">Vehículo de Carga</label>
        <ng-select [items]="vehiculos" bindLabel="label" bindValue="value"
          [(ngModel)]="despachoSeleccionado.id_asignacion_vehiculo_carga" [ngModelOptions]="{ standalone: true }"
          placeholder="Seleccione un vehículo">
        </ng-select>
      </div>
      <div class="p-2 flex-fill" style="min-width: 250px;">
        <label for="fecha_carga">Fecha Carga</label>
        <p-calendar inputId="fecha_carga" [(ngModel)]="despachoSeleccionado.fecha_carga" name="fecha_carga"
          dateFormat="yy-mm-dd" [showIcon]="true" [style]="{ width: '100%', height: '35px' }"
          [appendTo]="'body'"></p-calendar>
      </div>
    </div>
    <div class="p-dialog-footer">

      <label for="archivo">QUE GASTOS GENERO:</label>
      <div class="d-flex flex-wrap mb-1 p-fluid">
        <div class="p-2 flex-fill d-flex flex-column align-items-center">
          <label for="tiene_diesel" class="mb-1">Diesel</label>
          <p-checkbox [(ngModel)]="despachoSeleccionado.tiene_diesel" [binary]="true" inputId="tiene_diesel"
            name="tiene_diesel">
          </p-checkbox>
        </div>

        <div class="p-2 flex-fill d-flex flex-column align-items-center">
          <label for="tiene_peaje" class="mb-1">Peaje</label>
          <p-checkbox [(ngModel)]="despachoSeleccionado.tiene_peaje" [binary]="true" inputId="tiene_peaje"
            name="tiene_peaje">
          </p-checkbox>
        </div>

        <div class="p-2 flex-fill d-flex flex-column align-items-center">
          <label for="tiene_viaticos" class="mb-1">Viaticos</label>
          <p-checkbox [(ngModel)]="despachoSeleccionado.tiene_viaticos" [binary]="true" inputId="tiene_viaticos"
            name="tiene_viaticos">
          </p-checkbox>
        </div>

      </div>

      <button pButton type="submit" label="Guardar" class="p-button-success"></button>
      <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="popupVisible = false"></button>
    </div>
  </form>
</p-dialog>

<p-dialog [header]="tituloDialogVariosPDF" [(visible)]="mostrarDialogVariosPDF" [modal]="true"
  [style]="{ width: 'auto' }">
  <div *ngIf="tituloDialogVariosPDF === 'PAGO DAM'" class="d-flex flex-wrap gap-2 mt-3">
    <label class="btn btn-sm" [ngClass]="{
        'btn-success': despachoSeleccionado.pago_dam,
        'btn-outline-danger': !despachoSeleccionado.pago_dam
      }" style="cursor: pointer;" for="pago_dam" title="pago_dam"
      (click)="guardarEstadoDespacho(despachoSeleccionado, !despachoSeleccionado.pago_dam)">
      Pago DAM
    </label>
  </div>
  <div class="d-flex" style="gap: 1rem;">

    <p-table [value]="pdfs" editMode="row" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre del archivo</th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-pdf let-rowIndex="rowIndex">
        <tr>
          <td>
            <label for="nombre"> {{ pdf.nombre }}</label>
          </td>

          <td>

            <button class="btn btn-sm btn-outline-info me-2" (click)="verPDF(pdf.nombre)">
              <i class="pi pi-pencil"></i>Ver
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="eliminarPDF(pdf.nombre)">
              <i class="pi pi-trash"></i>Eliminar
            </button>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="p-dialog-footer mt-3">
    <button pButton type="button" label="+ Agregar" class="p-button-secondary"
      (click)=" abrirSelectorArchivo(despachoSeleccionado)"></button>

  </div>

</p-dialog>

<p-dialog [(visible)]="mostrarDialogPDF" [modal]="true" [style]="{ width: '80%' }">
  <div class="d-flex" style="gap: 1rem;">

    <div style="flex: 1; height: 600px; border: 1px solid #ccc;">
      <ngx-doc-viewer [url]="pdfSeleccionadoURL" viewer="url" style="width:100%;height:100%;"
        filename="despachoSeleccionado.id_despacho + '.pdf'" disabledDownload="false">
      </ngx-doc-viewer>
    </div>
  </div>

</p-dialog>

<p-dialog [(visible)]="mostrarDialogImagen" [modal]="true" [closable]="true"
  [style]="{ width: '90vw', maxWidth: '1200px', padding: '0' }" [contentStyle]="{ padding: '0' }"
  styleClass="dialog-fullscreen">

  <div class="dialog-img-container">
    <img [src]="imagenSeleccionadaURL" alt="Imagen" class="dialog-img" />
  </div>
</p-dialog>

<p-dialog [(visible)]="mostrarDialogObservaciones" [modal]="true" [closable]="true" [style]="{ width: '80%'}"
  [contentStyle]="{ padding: '0' }" styleClass="dialog-fullscreen">

  <p-accordion [multiple]="true">
    <p-accordionTab *ngFor="let grupo of observacionesAgrupadas"
      [header]="grupo.titulo + ' (' + grupo.items.length + ')'">
      <ul>
        <li *ngFor="let item of grupo.items">
          🚚 Despacho {{item.id_despacho}} - {{item.cliente}}
          <!-- <ul>
          <li *ngFor="let det of item.detalle">{{det}}</li>
        </ul> -->
        </li>
      </ul>
    </p-accordionTab>
  </p-accordion>
  <div class="p-dialog-footer mt-3">
    <button pButton type="button" label="Cerrar" class="p-button-danger"
      (click)=" mostrarDialogObservaciones = false"></button>

  </div>

</p-dialog>

<p-dialog [header]="tituloMostrarGastos" [(visible)]="mostrarGastos" [modal]="true" [style]="{ width: '80%' }">

  <div class="p-fluid">
    <p-table [value]="gastos" editMode="row" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ tituloMostrarGastos === "VIATICOS" ? "Dias" : "Lugar" }}</th>
          <th>Monto</th>
          <th>Cancelado</th>
          <th>Fecha Pago</th>
          <th>Modalidad Pago</th>
          <th>Persona Pago</th>
          <th>Comprobante</th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-gasto let-rowIndex="rowIndex">
        <tr>
          <!-- Lugar -->
          <td>
            <input type="text" pInputText [(ngModel)]="gasto.descripcion" placeholder="Descripción del gasto" />
          </td>

          <!-- Monto -->
          <td>
            <input type="number" pInputText [(ngModel)]="gasto.monto" placeholder="0.00" />
          </td>

          <!-- Cancelado -->
          <td class="text-center">
            <p-checkbox [(ngModel)]="gasto.cancelado" [binary]="true"></p-checkbox>
          </td>

          <!-- Fecha Pago -->
          <td>
            <p-calendar inputId="fecha_pago" [(ngModel)]="gasto.fecha_pago" name="fecha_pago" dateFormat="yy-mm-dd"
              [showIcon]="true" [style]="{ width: '100%', height: '35px' }" [appendTo]="'body'"></p-calendar>
          </td>

          <!-- Modalidad Pago -->
          <td>
            <ng-select [items]="modalidad_pago" bindLabel="label" bindValue="value" [(ngModel)]="gasto.modalidad_pago"
              [ngModelOptions]="{ standalone: true }" placeholder="Seleccione una modalidad" appendTo="body">
            </ng-select>
          </td>

          <!-- Persona Pago -->
          <td>
            <input type="text" pInputText [(ngModel)]="gasto.persona_pago" placeholder="Persona que pagó" />
          </td>
          <!-- Comprobante -->
          <td>
            <button class="btn btn-sm" [ngClass]="{
                'btn-success': gasto.archivos?.length > 0,
                'btn-outline-danger': !(gasto.archivos?.length > 0)
                }"
              (click)="gasto.archivos?.length > 0 ? verComprobante(gasto.archivos[0]) : gasto.modalidad_pago == 'AL CONTADO' ? generarComprobante(gasto) : subirComprobante(gasto)">
              <i class="pi" [ngClass]="gasto.archivos?.length > 0 ? 'pi-eye' : 'pi-upload'"></i>
              {{ gasto.archivos?.length > 0 ? 'Ver' : gasto.modalidad_pago == 'AL CONTADO' ? 'Generar' : 'Subir' }}
            </button>
          </td>
          <!-- Eliminar -->
          <td>
            <button class="btn btn-sm btn-outline-danger" (click)="eliminarGasto(rowIndex)">
              <i class="pi pi-trash"></i> Eliminar
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <div class="p-dialog-footer mt-3">
      <button pButton type="button" label="+ Agregar" class="p-button-secondary" (click)="agregarGasto()"></button>
      <button pButton type="submit" label="Guardar" class="p-button-success me-2" (click)="guardarGasto()"></button>
    </div>
  </div>

</p-dialog>