::ng-deep .fila-libre {
  background-color: #e0ffe0 !important;
}

label,
input {
  display: inline-block;
  vertical-align: middle;
}

input {
  height: 35px;
}

label {
  margin-right: 10px;
}

.input-container {
  padding-top: 0.5%;
}

.checkbox-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

:host ::ng-deep .form-group {
  display: flex;
  align-items: center;
}

:host ::ng-deep .form-group label {
  margin: 0;
  padding: 0;
}

:host ::ng-deep .form-group .p-checkbox {
  margin: 0;
}

:host ::ng-deep .radio-group {
  display: flex;
  align-items: center;
}

:host ::ng-deep .radio-group label {
  margin-left: 0.5rem;
}

:host ::ng-deep .radio-group .p-radiobutton {
  margin: 0;
}

/*
.card-body {
    max-height: 450px;
    overflow-y: auto;
}*/
#inputDescricpion {
  width: 70%;
}

.p-dialog-content .p-formgrid {
  margin-top: 20px;
}

.p-formgrid .p-field {
  margin-bottom: 15px;
}

.p-dialog-content .p-field label {
  font-weight: normal;
}

.p-dialog-content .p-field input {
  width: 100%;
}

.responsive-calendar {
  width: 100%;
  max-width: 400px;
  /* Ajusta esto según sea necesario */
}

.p-inputtext {
  text-transform: uppercase;
}

.input-error {
  border: 1px solid red !important;
  box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.25);
}

.vibrar {
  animation: vibrar 0.3s linear;
}

@keyframes vibrar {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

::ng-deep .ng-dropdown-panel {
  z-index: 999999 !important;
  /* más alto que el p-dialog */
}

img {
  max-width: 80%;
  max-height: 150px;
  object-fit: contain;
}

.dialog-fullscreen .p-dialog-content {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-img-container {
  max-height: 90vh;
  /* ocupa como máximo el 90% de la altura de la pantalla */
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /* mantiene proporción sin recortar */
}

.card {
  cursor: pointer;
  border-radius: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease, filter 0.2s ease;
}

/* Hover: al pasar el mouse */
.card:hover {
  transform: translateY(-5px) scale(1.05);  /* levanta un poco la card */
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  filter: brightness(1.1); /* aclara el color */
}

/* Active: cuando se hace click */
.card:active {
  transform: translateY(2px) scale(0.98); /* efecto de “presionar” */
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  filter: brightness(0.9); /* oscurece el color */
}

