<div class="p-mb-3 d-flex flex-wrap gap-2">
  <button pButton type="button" icon="pi pi-plus" label="Nuevo Despacho" (click)="abrirNuevoDespacho()"
    class="p-button-success"></button>

  <button pButton type="button" icon="pi pi-file-pdf" label="Generar PDF" (click)="exportarDespachosPDF()"
    class="p-button-secondary"></button>

  <button pButton type="button" icon="pi pi-file-excel" label="Exportar Excel" (click)="exportarDespachosExcel()"
    class="p-button-secondary"></button>

  <button pButton type="button"
    [label]="mostrarTabla ? 'Ver como tabla' : 'Ver como tarjetas'" (click)="alternarVista()"
    [icon]="mostrarTabla ? 'pi pi-th-large' : 'pi pi-table'"></button>

  <button pButton type="button" (click)="ordenarDatos()"
    [label]="ordenAscendente ? 'Orden Ascendente' : 'Orden Descendente'"
    [icon]="ordenAscendente ?  'ri-arrow-up-line' : 'ri-arrow-down-line'"></button>

  <button pButton type="button" label="Limpiar filtros"
    icon="pi pi-filter-slash"></button>
</div>


<div *ngIf="mostrarTabla" class="card p-3 mb-3 shadow-sm">

  <div class="form-grid">
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroCliente" placeholder="Cliente" /> -->
      <p-autoComplete [(ngModel)]="clienteSeleccionado" [suggestions]="clientesFiltrados"
        (completeMethod)="filtrarClientes($event)" (onSelect)="filtroCliente = $event.label" field="label"
        [dropdown]="true" [showClear]="true" (onClear)="filtroCliente = ''" [forceSelection]="false"
        placeholder="CLIENTE" styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroMercancia" placeholder="Mercancía" /> -->
      <p-autoComplete [(ngModel)]="mercanciaSeleccionada" [suggestions]="mercanciasFiltradas"
        (completeMethod)="filtrarMercancias($event)" (onSelect)="filtroMercancia = $event"
        [dropdown]="true" [showClear]="true" (onClear)="filtroMercancia = ''" [forceSelection]="false"
        placeholder="MERCANCÍA" styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroContenedor" placeholder="Contenedor" /> -->
      <p-autoComplete [(ngModel)]="contenedorSeleccionado" [suggestions]="contenedoresFiltrados"
        (completeMethod)="filtrarContenedores($event)" (onSelect)="filtroContenedor = $event" [dropdown]="true"
        [showClear]="true" (onClear)="filtroContenedor = ''" [forceSelection]="false" placeholder="CONTENEDOR"
        styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroTipoCarga" placeholder="Tipo Carga" /> -->
      <p-autoComplete [(ngModel)]="tipoCargaSeleccionada" [suggestions]="tiposCargaFiltrados"
        (completeMethod)="filtrarTiposCarga($event)" (onSelect)="filtroTipoCarga = $event.label" field="label"
        [dropdown]="true" [showClear]="true" (onClear)="filtroTipoCarga = ''" [forceSelection]="false"
        placeholder="TIPO DE CARGA" styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroDescripcion" placeholder="Descripción" /> -->
      <p-autoComplete [(ngModel)]="tamanoSeleccionado" [suggestions]="tamanosFiltrados"
        (completeMethod)="filtrarTamanos($event)" (onSelect)="filtroTamano = $event" [dropdown]="true"
        [showClear]="true" (onClear)="filtroTamano = ''" [forceSelection]="false" placeholder="TAMAÑO"
        styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <input type="number" pInputText [(ngModel)]="filtroPeso" placeholder="Peso" />
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroNaviera" placeholder="Naviera" /> -->
      <p-autoComplete [(ngModel)]="navieraSeleccionada" [suggestions]="navierasFiltradas"
        (completeMethod)="filtrarNavieras($event)" (onSelect)="filtroNaviera = $event.label" field="label"
        [dropdown]="true" [showClear]="true" (onClear)="filtroNaviera = ''" [forceSelection]="false"
        placeholder="NAVIERA" styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroOrigen" placeholder="Origen" /> -->
      <p-autoComplete [(ngModel)]="origenSeleccionado" [suggestions]="origenesFiltrados"
        (completeMethod)="filtrarOrigenes($event)" (onSelect)="filtroOrigen = $event.label" field="label"
        [dropdown]="true" [showClear]="true" (onClear)="filtroOrigen = ''" [forceSelection]="false" placeholder="ORIGEN"
        styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroDestino" placeholder="Destino" /> -->
      <p-autoComplete [(ngModel)]="destinoSeleccionado" [suggestions]="destinosFiltrados"
        (completeMethod)="filtrarDestinos($event)" (onSelect)="filtroDestino = $event.label" field="label"
        [dropdown]="true" [showClear]="true" (onClear)="filtroDestino = ''" [forceSelection]="false"
        placeholder="DESTINO" styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <!-- <input type="text" pInputText [(ngModel)]="filtroAsignacionCarga" placeholder="Asignación Carga" /> -->
      <p-autoComplete [(ngModel)]="asignacionCargaSeleccionada" [suggestions]="asignacionesCargaFiltradas"
        (completeMethod)="filtrarAsignacionesCarga($event)" (onSelect)="filtroAsignacionCarga = $event"
        [dropdown]="true" [showClear]="true" (onClear)="filtroAsignacionCarga = ''" [forceSelection]="false"
        placeholder="VEHÍCULO" styleClass="w-150">
      </p-autoComplete>
    </div>
    <div>
      <input type="date" pInputText [(ngModel)]="filtroFechaCarga" placeholder="FECHA CARGA" />
    </div>
    <div>
      <p-autoComplete [(ngModel)]="estadoSeleccionado" [suggestions]="estadosFiltrados"
        (completeMethod)="filtrarEstados($event)" (onSelect)="filtroEstado = $event.label" field="label"
        [dropdown]="true" [showClear]="true" (onClear)="filtroEstado = ''" [forceSelection]="false" placeholder="ESTADO"
        styleClass="w-150">
      </p-autoComplete>
    </div>
  </div>
</div>


<p-table *ngIf="!mostrarTabla" [value]="despachosFiltrados" [tableStyle]="{ 'min-width': '75rem' }" [scrollable]="true"
  scrollHeight="600px">
  <ng-template pTemplate="header">
    <tr>
      <th>Cliente</th>
      <th>Mercancía</th>
      <th>CRT</th>
      <th>Contenedor</th>
      <th>Tipo Carga</th>
      <th>Tamaño</th>
      <th>Peso (kg)</th>
      <th>Naviera</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Asignación Carga</th>
      <th>Fecha Carga</th>
      <th>Fecha Descarga</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    <tr>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroCliente" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="clienteSeleccionado" [suggestions]="clientesFiltrados"
          (completeMethod)="filtrarClientes($event)" (onSelect)="filtroCliente = $event.label" field="label"
          [dropdown]="true" [showClear]="true" (onClear)="filtroCliente = ''" [forceSelection]="false"
          placeholder="Buscar cliente" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroMercancia" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="mercanciaSeleccionada" [suggestions]="mercanciasFiltradas"
          (completeMethod)="filtrarMercancias($event)" (onSelect)="filtroMercancia = $event.label" field="label"
          [dropdown]="true" [showClear]="true" (onClear)="filtroMercancia = ''" [forceSelection]="false"
          placeholder="Buscar mercancía" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <input type="text" pInputText [(ngModel)]="filtroCrt" style="width: 100%;" />
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroContenedor" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="contenedorSeleccionado" [suggestions]="contenedoresFiltrados"
          (completeMethod)="filtrarContenedores($event)" (onSelect)="filtroContenedor = $event" [dropdown]="true"
          [showClear]="true" (onClear)="filtroContenedor = ''" [forceSelection]="false" placeholder="Buscar contenedor"
          styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroTipoCarga" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="tipoCargaSeleccionada" [suggestions]="tiposCargaFiltrados"
          (completeMethod)="filtrarTiposCarga($event)" (onSelect)="filtroTipoCarga = $event.label" field="label"
          [dropdown]="true" [showClear]="true" (onClear)="filtroTipoCarga = ''" [forceSelection]="false"
          placeholder="Buscar tipo de carga" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroDescripcion" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="tamanoSeleccionado" [suggestions]="tamanosFiltrados"
          (completeMethod)="filtrarTamanos($event)" (onSelect)="filtroTamano = $event" [dropdown]="true"
          [showClear]="true" (onClear)="filtroTamano = ''" [forceSelection]="false"
          placeholder="Buscar Tamaño" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <input type="number" pInputText [(ngModel)]="filtroPeso" style="width: 100%;" />
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroNaviera" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="navieraSeleccionada" [suggestions]="navierasFiltradas"
          (completeMethod)="filtrarNavieras($event)" (onSelect)="filtroNaviera = $event.label" field="label"
          [dropdown]="true" [showClear]="true" (onClear)="filtroNaviera = ''" [forceSelection]="false"
          placeholder="Buscar naviera" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroOrigen" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="origenSeleccionado" [suggestions]="origenesFiltrados"
          (completeMethod)="filtrarOrigenes($event)" (onSelect)="filtroOrigen = $event.label" field="label"
          [dropdown]="true" [showClear]="true" (onClear)="filtroOrigen = ''" [forceSelection]="false"
          placeholder="Buscar origen" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroDestino" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="destinoSeleccionado" [suggestions]="destinosFiltrados"
          (completeMethod)="filtrarDestinos($event)" (onSelect)="filtroDestino = $event.label" field="label"
          [dropdown]="true" [showClear]="true" (onClear)="filtroDestino = ''" [forceSelection]="false"
          placeholder="Buscar destino" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <!-- <input type="text" pInputText [(ngModel)]="filtroAsignacionCarga" style="width: 100%;" /> -->
        <p-autoComplete [(ngModel)]="asignacionCargaSeleccionada" [suggestions]="asignacionesCargaFiltradas"
          (completeMethod)="filtrarAsignacionesCarga($event)" (onSelect)="filtroAsignacionCarga = $event"
          [dropdown]="true" [showClear]="true" (onClear)="filtroAsignacionCarga = ''" [forceSelection]="false"
          placeholder="Buscar asignación de carga" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th>
        <input type="date" pInputText [(ngModel)]="filtroFechaCarga" style="width: 100%;" />
      </th>
      <th>
        <input type="date" pInputText [(ngModel)]="filtroFechaDescarga" style="width: 100%;" />
      </th>
      <th>
        <p-autoComplete [(ngModel)]="estadoSeleccionado" [suggestions]="estadosFiltrados"
          (completeMethod)="filtrarEstados($event)" (onSelect)="filtroEstado = $event.label" field="label"
          [dropdown]="true" [showClear]="true" (onClear)="filtroEstado = ''" [forceSelection]="false"
          placeholder="Buscar estado" styleClass="w-200">
        </p-autoComplete>
      </th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-despacho>
    <tr [ngClass]="estiloFila(despacho)">
      <td>{{ getClienteNombre(despacho.id_cliente) }}</td>
      <td>{{ despacho.mercancia }}</td>
      <td>{{ despacho.crt }}</td>
      <td>{{ despacho.numero_contenedor }}</td>
      <td>{{ despacho.tipo_carga }}</td>
      <td>{{ despacho.tamano }}</td>
      <td>{{ despacho.peso_kg }}</td>
      <td>{{ getNavieraNombre(despacho.id_naviera) }}</td>
      <td>{{ getCiudadNombre(despacho.id_ciudad_origen) }}</td>
      <td>{{ getCiudadNombre(despacho.id_ciudad_destino) }}</td>
      <td>{{ getVehiculoNombre(despacho.id_asignacion_vehiculo_carga) }}</td>
      <td>{{ despacho.fecha_carga | date:'yyyy-MM-dd' }}</td>
      <td>{{ despacho.fecha_descarga | date:'yyyy-MM-dd' }}</td>
      <td>{{ despacho.estado }}</td>
      <td class="text-center d-flex justify-content-center gap-2">
        <button class="btn btn-sm btn-outline-info" (click)="editarDespacho(despacho)">
          <i class="pi pi-pencil"></i> Editar
        </button>
        <button class="btn btn-sm btn-outline-danger" (click)="eliminarDespacho(despacho)">
          <i class="pi pi-trash"></i> Eliminar
        </button>
      </td>

    </tr>
  </ng-template>
</p-table>

<div id="contenedor-despachos">
  <p-dataView *ngIf="mostrarTabla" [value]="despachosFiltrados" layout="list">
    <ng-template #cardDespacho let-despacho let-index="rowIndex" pTemplate="listItem">
      <div id="despacho-{{index}}" class="p-3 border rounded mb-3 shadow-sm" [ngClass]="estiloFila(despacho)">
        <div class="d-flex justify-content-between align-items-start mb-2">
          <div>
            <div class="fs-4"><b>Cliente:</b> {{ getClienteNombre(despacho.id_cliente) }}</div>
          </div>
          <div class="fs-3">
            <b>{{ getVehiculoPlaca(despacho.id_asignacion_vehiculo_carga) }}</b>
          </div>
          <div class="d-flex align-items-center gap-2">


            <div class="fs-5">
              <b>ESTADO:</b> {{ despacho.estado }}
            </div>

            <button class="btn btn-sm btn-outline-info me-2" (click)="editarDespacho(despacho)">
              <i class="pi pi-pencil"></i> Editar
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="eliminarDespacho(despacho)">
              <i class="pi pi-trash"></i> Eliminar
            </button>
            <button class="btn btn-sm btn-outline-success" (click)="generarImagenDespacho(despacho, index)">
              <i class="pi pi-trash"></i> Imprimir
            </button>
          </div>
        </div>

        <hr class="my-2" />
        <div class="d-grid" style="grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 8px;">

          <div [ngClass]="{'faltante': !despacho.tipo_carga}"><b>Tipo Carga:</b> {{ despacho.tipo_carga }}</div>
          <div><b>Contenedor:</b> {{ despacho.numero_contenedor }}</div>
          <div [ngClass]="{'faltante': !despacho.tamano}"><b>Tamaño:</b> {{ despacho.tamano }}
          </div>
          <div [ngClass]="{'faltante': !despacho.id_naviera}"><b>Naviera:</b> {{ getNavieraNombre(despacho.id_naviera)
            }}
          </div>

          <div [ngClass]="{'faltante': !despacho.peso_kg}"><b>Peso (kg):</b> {{ despacho.peso_kg }}</div>
          <div [ngClass]="{'faltante': !despacho.mercancia}"><b>Mercancía:</b> {{
            despacho.mercancia }}</div>
          <div [ngClass]="{'faltante': !despacho.crt}"><b>CRT:</b> {{ despacho.crt }}</div>
          <div [ngClass]="{'faltante': !despacho.id_ciudad_origen}"><b>Origen:</b> {{
            getCiudadNombre(despacho.id_ciudad_origen) }}</div>
          <div [ngClass]="{'faltante': !despacho.id_ciudad_destino}"><b>Destino:</b> {{
            getCiudadNombre(despacho.id_ciudad_destino) }}</div>

          <div [ngClass]="{'faltante': !despacho.fecha_carga}"><b>Fecha Carga:</b> {{ despacho.fecha_carga |
            date:'yyyy-MM-dd' }}</div>
          <div [ngClass]="{'faltante': !despacho.fecha_descarga}"><b>Fecha Descarga:</b> {{ despacho.fecha_descarga |
            date:'yyyy-MM-dd' }}</div>

          <div *ngIf="!despacho.id_asignacion_vehiculo_carga"
            [ngClass]="{'faltante': !despacho.id_preasignacion_vehiculo_carga}"><b>Preasignación Carga:</b> {{
            getVehiculoNombre(despacho.id_preasignacion_vehiculo_carga) }}</div>
          <div [ngClass]="{'faltante': !despacho.id_asignacion_vehiculo_carga}"><b>Asignación Carga:</b> {{
            getVehiculoNombre(despacho.id_asignacion_vehiculo_carga) }}</div>
                    
          <div *ngIf="despacho.despacho_agencia">
            <b>Agencia:</b> {{ despacho.despacho_agencia }}
          </div>
          <div *ngIf="despacho.despacho_nombre">
            <b>Agencia Nombre:</b> {{ despacho.despacho_nombre }}
          </div>
          <div *ngIf="despacho.despacho_telefono">
            <b>Agencia Teléfono:</b> {{ despacho.despacho_telefono }}
          </div>
        </div>

        <div class="d-flex flex-wrap gap-2 mt-3">
          <ng-container *ngFor="let doc of getDocumentosFiltrados(despacho)">
            <label class="btn btn-sm" [ngClass]="{
        'btn-success': despacho.archivosSubidos?.includes(doc.id),
        'btn-outline-danger': !despacho.archivosSubidos?.includes(doc.id)
      }" style="cursor: pointer;" for="file-{{despacho.id_despacho}}-{{doc.id}}" title="Subir {{ doc.nombre }}"
              (click)="verPdfs(despacho, doc)">
              {{ doc.nombre }}
            </label>
          </ng-container>
        </div>

        <div class="d-flex justify-content-end mt-2">
          <span class="text-muted small">{{ observacionDespacho(despacho) }}</span>
        </div>
      </div>

    </ng-template>
  </p-dataView>
</div>

<div *ngIf="generando" class="overlay-carga">
  <div class="caja-carga">
    <i class="pi pi-spin pi-spinner" style="font-size: 3rem;"></i>
    <p class="mt-3">Generando imagen, por favor espere...</p>
  </div>
</div>

<p-dialog [(visible)]="popupVisible" [modal]="true" [style]="{ width: '80%' }" [header]="tituloPopup">
  <form (ngSubmit)="guardarCambios()" #form="ngForm">
    <div class="d-flex flex-wrap mb-4 p-fluid">
      <div class="p-2 flex-fill">
        <label for="id_cliente">Cliente</label>

        <ng-select [items]="clientes" bindLabel="label" bindValue="value" [(ngModel)]="despachoSeleccionado.id_cliente"
          [ngModelOptions]="{ standalone: true }" placeholder="Seleccione un cliente">
        </ng-select>
      </div>

      <div class="p-2 flex-fill">
        <label for="mercancia">Mercancía</label>
        <input pInputText id="mercancia" [(ngModel)]="despachoSeleccionado.mercancia" name="mercancia" />
        
      </div>

      <div class="p-2 flex-fill">
        <label for="crt">CRT</label>
        <input pInputText id="crt" [(ngModel)]="despachoSeleccionado.crt" name="crt" />
      </div>

      <div class="p-2 flex-fill">
        <label for="tipo_carga">Tipo Carga</label>
        <p-selectButton [options]="tipo_carga" [(ngModel)]="despachoSeleccionado.tipo_carga" optionLabel="label"
          optionValue="value" [style]="{ width: '100%', height: '35px' }" [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="actualizarTipoCarga($event)"
          name="tipo_carga" />
      </div>

      <div *ngIf="!bloquearContenedor" class="p-2 flex-fill">
        <label for="numero_contenedor">Contenedor</label>
        <input pInputText id="numero_contenedor" [(ngModel)]="despachoSeleccionado.numero_contenedor"
          name="numero_contenedor" />
      </div>

      <div *ngIf="!bloquearTamano" class="p-2 flex-fill">
        <label for="tamano">Tamaño</label>
        <input pInputText id="tamano" [(ngModel)]="despachoSeleccionado.tamano"
          name="tamano" />
      </div>

      <div class="p-2 flex-fill">
        <label for="peso_kg">Peso KG</label>
        <input pInputText id="peso_kg" [(ngModel)]="despachoSeleccionado.peso_kg" name="peso_kg"
          (input)="numeros($event, 'peso_kg')" />
      </div>

      <div class="p-2 w-100">
        <label for="id_naviera">Naviera</label>
        <p-selectButton [options]="navieras" [(ngModel)]="despachoSeleccionado.id_naviera" optionLabel="label"
          optionValue="value" [style]="{ width: '100%', height: '35px' }" [ngModelOptions]="{ standalone: true }"
          name="naviera" />
      </div>

      <div class="p-2 flex-fill">
        <label for="id_ciudad_origen">Ciudad Origen</label>
        <ng-select [items]="ciudades" bindLabel="label" bindValue="value" 
          [(ngModel)]="despachoSeleccionado.id_ciudad_origen" [ngModelOptions]="{ standalone: true }"
          placeholder="Seleccione una ciudad">
        </ng-select>
      </div>

      <div class="p-2 flex-fill">
        <label for="id_ciudad_destino">Ciudad Destino</label>
        <ng-select [items]="ciudades" bindLabel="label" bindValue="value"
          [(ngModel)]="despachoSeleccionado.id_ciudad_destino" [ngModelOptions]="{ standalone: true }"
          placeholder="Seleccione una ciudad">
        </ng-select>
      </div>

      <!-- Fecha Carga -->
      <div class="p-2 flex-fill" style="min-width: 250px;">
        <label for="fecha_carga">Fecha Carga</label>
        <p-calendar inputId="fecha_carga" [(ngModel)]="despachoSeleccionado.fecha_carga" name="fecha_carga" dateFormat="yy-mm-dd" [showIcon]="true"
          [style]="{ width: '100%', height: '35px' }" [appendTo]="'body'"></p-calendar>
      </div>

      <!-- Fecha Límite -->
      <div class="p-2 flex-fill" style="min-width: 250px;">
        <label for="fecha_descarga">Fecha Descarga</label>
        <p-calendar inputId="fecha_descarga" [(ngModel)]="despachoSeleccionado.fecha_descarga" name="fecha_descarga"
          dateFormat="yy-mm-dd" [showIcon]="true" [style]="{ width: '100%', height: '35px' }" [appendTo]="'body'"></p-calendar>
      </div>

      <div class="p-2 flex-fill" style="min-width: 250px;">
        <label for="fecha_stack">Fecha Stack</label>
        <p-calendar inputId="fecha_stack" [(ngModel)]="despachoSeleccionado.fecha_stack" name="fecha_stack"
          dateFormat="yy-mm-dd" [showIcon]="true" [style]="{ width: '100%', height: '35px' }" [appendTo]="'body'"></p-calendar>
      </div>

    </div>

    <fieldset class="d-flex flex-wrap mb-4 p-fluid" style="border-radius: 10px; border: 1px solid #ccc;">
      <legend>Agencia</legend>

      <div class="p-2 flex-fill">
        <label for="despacho_agencia">Agencia</label>
        <input pInputText id="despacho_agencia" [(ngModel)]="despachoSeleccionado.despacho_agencia"
          name="despacho_agencia" />
      </div>

      <div class="p-2 flex-fill">
        <label for="despacho_nombre">Nombre</label>
        <input pInputText id="despacho_nombre" [(ngModel)]="despachoSeleccionado.despacho_nombre"
          name="despacho_nombre" />
      </div>

      <div class="p-2 flex-fill">
        <label for="despacho_telefono">Teléfono</label>
        <input pInputText id="despacho_telefono" [(ngModel)]="despachoSeleccionado.despacho_telefono"
          name="despacho_telefono" />
      </div>
    </fieldset>

    <hr class="my-2" />
    <label for="archivo">PREASIGNACION</label>
    <div class="p-2 flex-fill">
      <label for="id_preasignacion_vehiculo_carga">Preasignacion Vehículo de Carga</label>
      <ng-select [items]="vehiculos" bindLabel="label" bindValue="value"
        [(ngModel)]="despachoSeleccionado.id_preasignacion_vehiculo_carga" [ngModelOptions]="{ standalone: true }"
        placeholder="Seleccione un vehículo">
      </ng-select>
    </div>
    <label for="archivo">ASIGNACION DE DESPACHO</label>
    <div class="d-flex flex-wrap mb-4 p-fluid">
      <div class="p-2 flex-fill">
        <label for="id_asignacion_vehiculo_carga">Vehículo de Carga</label>
        <ng-select [items]="vehiculos" bindLabel="label" bindValue="value"
          [(ngModel)]="despachoSeleccionado.id_asignacion_vehiculo_carga" [ngModelOptions]="{ standalone: true }"
          placeholder="Seleccione un vehículo">
        </ng-select>
      </div>
    </div>
    <div class="p-dialog-footer">


      <button pButton type="submit" label="Guardar" class="p-button-success"></button>
      <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="popupVisible = false"></button>
    </div>
  </form>
</p-dialog>

<p-dialog [header]="tituloDialogVariosPDF" [(visible)]="mostrarDialogVariosPDF" [modal]="true"
  [style]="{ width: 'auto' }">
  
  <div class="d-flex" style="gap: 1rem;">

    <p-table [value]="pdfs" editMode="row" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre del archivo</th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-pdf let-rowIndex="rowIndex">
        <tr>
          <td>
            <label for="nombre"> {{ pdf.nombre }}</label>
          </td>

          <td>

            <button class="btn btn-sm btn-outline-info me-2" (click)="verPDF(pdf.nombre)">
              <i class="pi pi-pencil"></i>Ver
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="eliminarPDF(pdf.nombre)">
              <i class="pi pi-trash"></i>Eliminar
            </button>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="p-dialog-footer mt-3">
    <button pButton type="button" label="+ Agregar" class="p-button-secondary"
      (click)=" abrirSelectorArchivo(despachoSeleccionado)"></button>

  </div>

</p-dialog>

<p-dialog [(visible)]="mostrarDialogPDF" [modal]="true" [style]="{ width: '80%' }">
  <div class="d-flex" style="gap: 1rem;">

    <div style="flex: 1; height: 600px; border: 1px solid #ccc;">
      <ngx-doc-viewer [url]="pdfSeleccionadoURL" viewer="url" style="width:100%;height:100%;"
        filename="despachoSeleccionado.id_despacho + '.pdf'" disabledDownload="false">
      </ngx-doc-viewer>
    </div>
  </div>

</p-dialog>

<p-dialog [(visible)]="mostrarDialogImagen" [modal]="true" [closable]="true"
  [style]="{ width: '90vw', maxWidth: '1200px', padding: '0' }" [contentStyle]="{ padding: '0' }"
  styleClass="dialog-fullscreen">

  <div class="dialog-img-container">
    <img [src]="imagenSeleccionadaURL" alt="Imagen" class="dialog-img" />
  </div>
</p-dialog>

<p-dialog [(visible)]="mostrarDialogObservaciones" [modal]="true" [closable]="true" [style]="{ width: '80%'}"
  [contentStyle]="{ padding: '0' }" styleClass="dialog-fullscreen">

  <p-accordion [multiple]="true">
    <p-accordionTab *ngFor="let grupo of observacionesAgrupadas"
      [header]="grupo.titulo + ' (' + grupo.items.length + ')'">
      <ul>
        <li *ngFor="let item of grupo.items">
          🚚 Despacho {{item.id_despacho}} - {{item.cliente}}
          <!-- <ul>
          <li *ngFor="let det of item.detalle">{{det}}</li>
        </ul> -->
        </li>
      </ul>
    </p-accordionTab>
  </p-accordion>
  <div class="p-dialog-footer mt-3">
    <button pButton type="button" label="Cerrar" class="p-button-danger"
      (click)=" mostrarDialogObservaciones = false"></button>

  </div>

</p-dialog>